<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="RegFromMailAddress" value="info.vadimchuzhinov@gmail.com" />
    <add key="RegPassword" value="Info@123" />
    <add key="ToEmailID" value="234vadim234@gmail.com" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="UseDefaultCredentials" value="true" />
    <add key="EnableSsl" value="true" />
    <add key="BuyerPageId" value="25" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="Constr" connectionString="Data Source=WORKSTATION-PC;Initial Catalog=VadimChuzhinov_Realtors;User ID=sa;Password=!nd!@123" />
    <add name="AdminConStr" connectionString="Data Source=WORKSTATION-PC;Initial Catalog=RealtorBrickAdmin;User ID=sa;Password=!nd!@123" />
    <add name="ServiceDataBase" connectionString="Data Source=WORKSTATION-PC;Initial Catalog=MLSDatanew;User ID=sa;Password=!nd!@123" />
  </connectionStrings>
  <system.web>
    
<customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />
  </system.web>
  <system.webServer>

    <defaultDocument>
      <files>
                <clear />
                <add value="index.html" />
                <add value="home.aspx" />
                <add value="ViewPanics.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.php" />
                <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MLSDataWebServiceSoap" maxReceivedMessageSize="209715227" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8060/MLSDataWebService.asmx" binding="basicHttpBinding" bindingConfiguration="MLSDataWebServiceSoap" contract="Property1.MLSDataWebServiceSoap" name="MLSDataWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>