
@font-face {
    font-family: 'oswaldbook';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),
         url('../font/smyriadpro-regular.woff') format('woff'),
         url('../fonts/myriadpro-regular.ttf') format('truetype'),
         url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}


@font-face {
	font-family: 'futura_bkbook';
	src: url('../fonts/ftrabk__-webfont.eot');
	src: url('../fonts/ftrabk__-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ftrabk__-webfont.woff') format('woff'), url('../fonts/ftrabk__-webfont.ttf') format('truetype'), url('../fonts/ftrabk__-webfont.svg#futura_bkbook') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family:'Bebas-Regular';
	src: url('../fonts/Bebas_gdi.eot');
	src: url('../fonts/Bebas_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas_gdi.woff') format('woff'),
		url('../fonts/Bebas_gdi.ttf') format('truetype'),
		url('../fonts/Bebas_gdi.svg#Bebas-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-007E;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proxima_nova_bold-webfont.eot');
    src: url('../fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family:'CenturyGothic-Regular';
	src: url('../fonts/CenturyGothic_gdi.eot');
	src: url('../fonts/CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic_gdi.woff') format('woff'),
		url('../fonts/CenturyGothic_gdi.ttf') format('truetype'),
		url('../fonts/CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F003;
}

@font-face {
	font-family:'CenturyGothic-Bold';
	src: url('../fonts/CenturyGothic-Bold_gdi.eot');
	src: url('../fonts/CenturyGothic-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold_gdi.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold_gdi.ttf') format('truetype'),
		url('../fonts/CenturyGothic-Bold_gdi.svg#CenturyGothic-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F003;
}



@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold_0-webfont.eot');
    src: url('../fonts/lato-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold_0-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold_0-webfont.woff') format('woff'),
         url('../fonts/lato-bold_0-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold_0-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular_0-webfont.eot');
    src: url('../fonts/lato-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular_0-webfont.woff') format('woff'),
         url('../fonts/lato-regular_0-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular_0-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}