
/************************************************************************************
smaller than 1280
*************************************************************************************/
@media screen and (max-width: 1280px) {



}

/************************************************************************************
smaller than 1024
*************************************************************************************/
@media screen and (max-width: 1366px) 
{
	.main_sct_bg {
    float: left;
    width: 100%;
}
.main_sction {
    float: left;
    margin: 0 0 7px !important;
    width: 100%;
}

}
@media screen and (max-width: 1280px) 
{
.main_sct_bg {
    float: left;
    width: 100%;
}
.main_sction {
    float: left;
    margin: 0 0 6px !important;
    width: 100%;
}



}
@media screen and (max-width: 1024px) 
{


}

/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) 
{
}



/************************************************************************************
smaller than 767
*************************************************************************************/
@media screen and (max-width: 736px) 
{
.favorate {
    float: left;
    padding: 0 0 23px;
    width: 28%;
}
.box_sct_bg {
    float: left;
    width: 100%;
    margin: 12px 0;
}
.Infomation_new_frm > input {
    color: grey;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 9px;
    width: 100%;
}
.mortgage_calculator h2 {
    float: left;
    width: 100%;
    color: #116ab2 ;
    font-family: "CenturyGothic-Bold";
    font-size: 22px;
    text-align: center;
	margin:8px 0;
	display: none;
}
.chmc_calculator h2 {
    float: left;
    width: 100%;
    color: #116ab2 ;
    font-family: "CenturyGothic-Bold";
    font-size: 22px;
    text-align: center;
	margin:8px 0;
	display:none;
}
.aboutMe_bg {
    background: white none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 300px;
    float: left;
    height: 261px !important;
    margin: 12px 0 0;
    width: 100%;
}
.srvce_box_cntent {
    float: left;
    margin: 12px 0 !important;
    width: 100%;
}
.main_sct_bg_new {
    background: #f6f6f6 none repeat scroll 0 0;
    float: left;
    padding: 15px 0 !important;
    width: 100%;
}
.srvce_box_cntent_r {
    float: left;
    margin: 12px 0 !important;
    width: 100%;
}
.Infomation_new_frm span {
    color: #151515;
    float: left;
    font-family: "open_sansregular";
    font-size: 13px;
    margin-top: 0 !important;
    width: 100%;
}
.ftrd_prprty_hdng h2 {
    color: #5a1501;
    float: left;
    font-family: "CenturyGothic-Regular";
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 !important;
    width: 100%;
}
.below_projct_bg {
    float: left;
    margin: 12px 0;
    width: 100%;
}
.count_date {
    float: left;
    margin: 0 0 12px;
}
.upcmng_p {
    float: left;
    text-align: center;
    width: 100%;
}
.video_section_box
{
	float:left;
	width:100%;
	text-align:center;
}
.currnt_p {
    float: left;
    text-align: center;
    width: 100%;
}
.srvce_box_cntent_r h2 {
    color: #6f1b19;
    float: left;
    font-family: "latobold";
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
	text-align:center;
}
.services_box_right {
    float: left;
    margin: 10px 0 !important;
    width: 100%;
}
.srvce_box_imgg_r {
    float: left;
    width: 100%;
	text-align:center;
}
.srvce_box_cntent_r p {
    color: #757678;
    float: left;
    font-family: "latoregular";
    font-size: 14px;
    line-height: 24px;
    margin: 6px 0;
    width: 100%;
	text-align:center;
}
.futer_loggo {
    float: left;
    margin: 6px 0;
    text-align: center;
    width: 100%;
}
.futer_mennu {
    float: left;
    margin-top: 14px !important;
    text-align: center;
    width: 100%;
}
.comin_soon_new {
    float: left;
    text-align: center;
    width: 100%;
}
.srvce_box_cntent h2
{
	float:left;
	width:100%;
	text-align: center !important;
	color:#6f1b19;
	 font-family: 'latobold';
	 font-size:16px;
	 text-transform:uppercase;
}
.srvce_box_cntent p
{
	float:left;
	width:100%;
	text-align: center !important;
	color:#757678;
	font-family: 'latoregular';
	line-height:24px;
	 font-size:14px;
	 margin:6px 0;
}
.srvce_box_imgg {
    float: left;
    margin-top: 0 !important;
    text-align: center !important;
    width: 100%;
}
.services_box {
    float: left;
    margin: 12px 0 !important;
    width: 100%;
}
.middle_logo {
    float: left;
    margin: 6px 0;
    text-align: center;
    width: 60% !important;
}
.toggleMenu {
    background: rgba(0, 0, 0, 0) url("../images/menu-icon.png") no-repeat scroll 0 0;
    color: #f0b310;
    display: none;
    margin: 14px 0 0 8px !important;
    padding: 32px 0 0 49px;
}
.header_detail {
    float: left;
    text-align: center;
    width: 37% !important;
}
.propert_top_details_scnd {
    display: inline-table !important;
    float: right;
    margin: 18px 0 0;
    width: 75%;
}
.nav > li > a {
    display: block;
    padding: 11px 20px !important;
    position: relative;
}
.propert_header_img {
    display: none;
    float: left;
    margin: 7px 0;
    width: 100%;
}
.header_detail1 span {
     color: #313131;
    float: left;
    font-family: "latobold";
    font-size: 17px
    margin: 0;
    width: 62%;
}
.services_sct_bg {
    background: #f5fbff none repeat scroll 0 0;
    border-color: #2983cc #e7e7e7 #e7e7e7;
    border-style: solid;
    border-width: 5px 1px 1px;
    float: left;
    margin: 12px 0;
    padding: 24px;
    text-align: center;
    width: 100%;
}
.futer_sect {
    float: left;
    margin: 15px 0;
    width: 100%;
}
.header_detail1 h5 {
    float: left;
    margin-top: 0 !important;
    width: 100%;
}
.header_detail1 > ul {
    float: right;
    margin: 4px 0 0;
    width: 59% !important;
}
.header_detail1 {
    float: left !important;
    text-align: center;
    width: 100% !important;
	margin:8px 0 0 !important;
}
.propert_header_cntntt_box {
    display: none;
    float: left;
    margin: 0 22px 0 0;
    width: 33%;
}
.propert_top_details {
    display: none;
    float: right;
    margin: 29px 0 0;
}
.roco_pro_img {
    float: left;
    text-align: center;
    width: 100%;
}
.roco_pro_info > h2 {
    color: white;
    float: left;
    font-family: "CenturyGothic-Regular";
    font-size: 24px;
    margin: 0;
    text-align: center;
    width: 100%;
}
.email_profile_r {
    color: white;
    float: left;
    font-family: "open_sansregular";
    font-size: 12px;
    text-align: center;
    width: 100%;
}
.roco_pro_info > p {
    color: white;
    float: left;
    font-family: "open_sansregular";
    font-size: 12px;
    margin: 0;
    text-align: center;
    width: 100%;
}
.proprty_price {
    border-right: medium none;
    float: left;
    width: 100%;
}
.rr {
    display: none;
    float: right;
    margin: 0 24px 0 0;
}
.count_label {
    color: #f70c2d;
    float: left;
    font-family: "open_sansbold";
    font-size: 16px;
    font-style: normal;
    margin: 7px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.search_boxx_left {
    border: 2px solid #34393d;
    float: left;
    height: 163px !important;
    margin: 21px 0 24px 14px;
    width: 88% !important;
}
.para {
    float: left;
    width: 95%;
}
.login_input_1 > input {
    float: left !important;
    width: 45% !important;
}	
    .top_menu_bg {
        background: #116ab2  none repeat scroll 0 0;
        float: left;
        height: 52px !important;
        width: 100%;
		  margin-top: 4px;
    }
	.header_bg_1 {
    display: none;
    float: left;
    padding: 8px;
    width: 100%;
}
.seaarch_Property_in {
    float: left;
    height: 270px;
    margin: 0 0 0 2px;
    width: 100%;
}
.property_new_details {
    color: #151515;
    float: left;
    font-family: "open_sansregular";
    font-size: 13px;
    margin: 69px 0 0 7px;
    padding: 10px;
    width: 50%;
}
.right_section_new {
    background: #f4f4f4 none repeat scroll 0 0;
    float: left;
    margin-top: 62px;
    padding-bottom: 10px;
    width: 48%;
}
#slider1_container {
    top: 9px !important;
    width: 100% !important;
}	
#map-canvas
{
	float:left;
	width:100% !important;
}
}

/************************************************************************************
smaller than 736
*************************************************************************************/




@media screen and (max-width: 667px) {
.futr_menu_sect ul li {
    display: inline;
    font-family: "CenturyGothic-Regular";
    list-style-type: none;
    padding: 0 32px 0 0 !important;
}
.searchButton {
    width: 40% !important;
}
.header_detail span {
    color: #116ab2;
    float: left;
    font-family: "montserratregular";
    font-size: 24px !important;
    width: 100%;
}
.lt_calculator iframe
{
	display:block !important;
	height:460px !important;
	margin:0px !important;
}

}





@media screen and (max-width: 640px) {
    .video_sction {
        float: left;
        margin-top: 271px !important;
        width: 100%;
    }

    .top_section ul li {
        color: #ffca06;
        display: inline;
        float: left;
        font-family: arial;
        font-size: 13px;
        padding: 1px;
        width: 100%;
    }
	.futer_mail {
    float: left;
    text-align: center;
    width: 100%;
}

    .header_middle {
        border-bottom: 1px solid #343132;
        border-top: 1px solid #343132;
        float: left;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .top_section {
        float: left;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .property_logo h4 {
        color: white;
        float: left;
        font-family: "open_sansbold";
        font-size: 10px;
        font-style: italic;
        line-height: 16px;
        margin: 36px 0 0 11px;
        width: 58%;
    }

    .property_logo img {
        float: left;
        margin: 18px 0 11px;
    }

    .useful_link {
        float: left;
        margin: 21px 0 0;
        width: 100%;
    }

        .useful_link > ul li a {
            border-right: 1px solid;
            color: white;
            font-family: arial;
            font-size: 13px;
            padding: 0 8px;
        }

    .Residential_section_box {
        background: #ffffff none repeat scroll 0 0;
        border: 1px solid #bdbdbd;
        float: left;
        margin: 0 20px 42px 7px;
        width: 95%;
    }

        .Residential_section_box > img {
            width: 100%;
        }

    .feature_section_box > img {
        width: 100%;
    }

    .feature_listing {
        float: left;
        margin: 22px 0 0px !important;
        width: 100%;
    }

    .Residential_section_bg h3 {
        border-bottom: 1px solid #c2c3c4;
        color: #3a4d3b;
        float: left;
        font-family: "open_sansbold";
        font-size: 18px;
        margin-bottom: 1px;
        padding: 1px 0 11px;
        text-align: center;
        width: 100%;
    }

    .Residential_section_bg h3 {
        border-bottom: 1px solid #c2c3c4;
        color: #3a4d3b;
        float: left;
        font-family: "open_sansbold";
        font-size: 18px;
        margin-bottom: 1px;
        padding: 1px 0 11px;
        text-align: center;
        width: 100%;
    }

    .top_section ul li {
        color: white;
        display: inline;
        font-family: arial;
        font-size: 13px !important;
        padding: 3px !important;
        text-align: left;
    }

    .box5 > h2 {
        color: #457066;
        float: left;
        font-family: "open_sansbold";
        font-size: 20px;
        margin: 5px 3px 0 18px;
        width: 100% !important;
    }

    .search_boxx_right_bg {
        float: left;
        margin: 0 0 0 3px;
        width: 100% !important;
    }

    .para {
        float: left;
        width: 100% !important;
    }

    .favorate {
        float: left;
        padding: 0 0 5px 17px !important;
        width: 65% !important;
    }

    .search_boxx_right_bg_2 {
        float: left;
        padding: 2px 17px 7px !important;
        width: 100% !important;
    }

    .logo_section {
        float: left;
        margin: 49px 0 0;
        position: absolute;
        text-align: center;
        width: 80%;
        display: none;
    }

    .main_sct_bg {
        float: left;
        width: 100%;
		margin:0px !important;
    }

    .main_sction {
        float: left;
        position: relative;
        top: 0;
        width: 100%;
    }

    .box_sct_bg {
       float: left;
    margin: 44px 0 2px !important;
    text-align: center;
    width: 100% !important;
    }

    .video_sction {
        float: left;
        margin-top: 45px;
        width: 100%;
    }

    .nav > li {
        background: rgba(0, 0, 0, 0) url("../images/menu-strip.png") no-repeat scroll 10px 14px;
        float: left;
        width: 100%;
    }

    .Residential_section_bg {
        float: left;
        margin: 50px 0 0;
        width: 100%;
    }

    .Residential_section {
        float: left;
        margin: 20px 0 0;
        width: 100% !important;
    }

    .main_sction {
        float: left;
        position: relative;
        top: 0 !important;
        width: 100% !important;
        left: 0px !important;
    }

    .header_details h3 {
        color: white;
        float: left;
        font-family: bebas;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }


    iframe {
        margin: 50px 0 0 -8px !important;
        width: 100% !important;
    }

    .footer_social li {
        display: inline;
        list-style-type: none;
        margin: 0 6px 0 0 !important;
    }

    .property_new_details {
        margin: 89px 0 0 0px !important;
    }

    .right_section_new {
        background: #f4f4f4 none repeat scroll 0 0;
        float: left;
        margin-top: 10px !important;
        padding-bottom: 10px;
        width: 100% !important;
    }

    .menu_section {
        float: left;
        position: absolute;
        width: 95% !important;
        z-index: 9999999;
        background: #116ab2;
    }
.header_detail1 span {
    color: #313131;
    float: left;
    font-family: "latobold";
    width: 100%;
}
  
.header_detail1 > ul {
    float: right;
    margin: 4px 0 0;
    width: 64% !important;
}
    .property-search-container_new {
        float: left;
        padding: 6px 0 25px;
        width: 97%;
    }

    .bottom_section_bg {
        background: white !important;
    }

    .Free-Home_new {
        float: left;
        margin: 10px 9px 26px -2px;
        padding: 5px;
        width: 104%;
    }

    .sell_house {
        border: 1px solid #336666;
        float: left;
        margin: 12px 0;
        padding: 10px;
        width: 100%;
    }

    .contact_in_left {
        background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #c8c6c6;
        float: left;
        margin: 0 0 35px 0px !important;
        padding: 15px;
        width: 100% !important;
    }

    .contact_in_right {
        float: left;
        margin: 0 0 14px 0px !important;
        width: 100% !important;
    }

    .detl div {
        float: right;
        margin: 0 46px 2px 0;
        width: 157px;
    }

    .infor_list_3 {
        color: #666666;
        float: left;
        font-size: 16px;
        margin: 4px 11px 0 -9px;
        width: 100%;
    }

    .header_detail h2 {
        color: white;
        float: left;
        font-family: "CenturyGothic-Regular";
        font-size: 17px !important;
        font-weight: bold;
        margin: 5px 0;
        text-transform: uppercase;
        width: 100%;
    }

    .logo_section img {
        margin: 25px 0 0 31px;
        width: 67% !important;
    }

    .header_detail span {
        color: #116ab2;
        float: left;
        font-family: "montserratregular";
        font-size: 20px !important;
        text-transform: uppercase;
        width: 100%;
}

#one-footer {
        margin-top: 130px !important;
    }

.box_sct_bg2 {
        float: left;
        margin-bottom: 25px !important;
        width: 100%;
    }


    #landCalcBox {
        color: #000000 !important;
        float: left;
        margin: auto;
        width: 100%;
    }

    #calculatorForm {
        margin: auto;
        width: 100% !important;
    }

    #headerCalc {
        width: 100%;
    }

    #purchasePrice {
        width: 100%;
    }

        #purchasePrice > input {
            width: 100% !important;
        }

    #checkBox {
        width: 100%;
    }

    #resultBox {
        width: 100%;
    }

    #ontarioTax {
        width: 100%;
    }

    #torontoTax {
        float: left;
        width: 100%;
    }

    .fuuter_name h2 {
        color: #3f6f55;
        float: left;
        font-family: "open_sansbold";
        font-size: 20px;
        width: 100%;
    }

    .header_detail1 {
        float: right;
        text-align: center !important;
        width: 100% !important;
    }

    .fuutr_phne_bg {
        bottom: 0;
        display: block !important;
        position: fixed;
    }

    .futer_phn {
        background: #3f6f55 none repeat scroll 0 0;
        border-radius: 2px;
        color: white;
        float: left;
        margin: 0 42px 0 0;
        padding: 5px;
        width: 44%;
    }

    .futer_phn1 {
        background: #3f6f55 none repeat scroll 0 0;
        border-radius: 2px;
        color: white;
        float: left;
        margin: 0 6px 0 0px;
        padding: 5px;
        width: 44%;
    }

    .futer_phn span {
        color: white !important;
        margin: 0 5px 4px 0;
        padding: 5px;
    }

    .futer_phn1 span {
        color: white !important;
        margin: 0 5px 4px 0;
        padding: 5px;
    }

    .futer_mail_bg {
        background: #343434 none repeat scroll 0 0;
        border-radius: 0px;
        display: block !important;
        float: left;
        margin: 15px 0 0;
        padding: 10px;
        width: 100%;
    }

    .futer_mail span {
        padding: 8px;
    }

    .smpc-div > input {
        float: left;
        margin: 10px 13px 14px 0;
        width: 100%;
    }

    .search_boxx_left {
        border: 2px solid #34393d;
        float: left;
        margin: 21px 0 24px 14px;
        width: 90%;
        height: auto;
    }

    .search_boxx_list_5 {
        background-color: white;
        box-shadow: 0 3px 16px -11px black;
        float: left;
        margin: 12px 0 0 0px;
        width: 100%;
    }

    .mobile-phone {
        display: none !important;
    }

    .header_bg_1 {
        display: none;
        float: left;
        padding: 8px;
        width: 100%;
    }

    #mortgageAffordabilityIframe {
        display: none;
    }

    #premiumCalculatorIframe {
        display: none;
    }

    .box_sct_bg3 {
        float: left;
        margin: 0px !important;
        width: 100%;
    }
    .box_sct_bg2
{
	   float: left;
    margin: 0px !important;
    width: 100%;
}
    .futer_mail > ul li {
    display: inline;
    list-style-type: none;
    margin: 0 7px 0 12px;
}
.detail_left_Section_top {
    float: left;
    margin: 0 4px 0 7px;
    width: 100%;
}
.detail_left_Desfeatures {
    float: left;
    margin: 0 4px 0 7px;
    width: 100%;
}
.virtl_image_cmgsoon
{
	margin:0px;
}
.fuuter_bg {
    background: #0f5186  none repeat scroll 0 0;
    float: left;
    height: 300px;
    margin-top: 30px;
    padding: 8px;
    width: 100%;
}
}

/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
	.video_sction {
    float: left;
       margin-top:0px !important;
    width: 100%;
}
.header_bg.prprty_detail_new {
    display: none;
}
.propert_top_details_scnd {
    display: inline-table;
    float: right;
    margin: 18px 0 0;
    width: 89%;
}
.skiptranslate iframe {
    display: none;
}
.header_detail1_lang {
    float: left;
    margin: 16px 0 6px !important;
    width: 100%;
}
.futer_mennu ul li {
    display: inline;
    list-style-type: none;
    margin: 0 39px 0 0 !important;
}
.aboutMe {
    float: left;
    margin-top: 16px !important;
    text-align: center;
    width: 100%;
}
.futer_mennu ul {
    float: left;
    line-height: 30px;
    width: 100%;
}
.frnt_line_cls
{
	margin:0px;
}
	.right_section {
    float: left;
    margin: 28px 0 30px -10px;
    width: 100%;
}
.Infomation > textarea {
    border: 1px solid gray;
    width: 100%;
}
.Infomation_1_Email_Listing > p {
    color: #151515;
    float: left;
    font-family: "open_sansregular";
    font-size: 14px;
    text-align: justify;
    width: 100% !important;
}
.property-search-container input[type="submit"] {
    clear: both;
    color: white !important;
    float: right;
    margin-right: 4px;
    width: auto;
}

.totalrecorslabe {
    color: red;
    float: left;
    font-size: 19px;
    font-weight: bold;
    margin: 10px 0 0;
    text-align: center;
    width: 100%;
}
.changer {
    float: left !important;
    margin: 0 20px 20px 0 !important;
	width:95% !important;
}
	.contact_number {
    float: left;
    padding: 4px;
    position: absolute;
    top: 457px !important;
    z-index: 99999;
}
.property_new_details {
    color: #151515;
    float: left;
    font-family: "open_sansregular";
    font-size: 13px;
    margin: 69px 0 0 7px;
    padding: 10px;
    width: 100%;
}
.contact_number span {
    color: white;
    float: left;
    font-size: 16px !important;
    text-align: center;
    width: 91%;
	margin-top:100px;
}
	.top_section ul li {
    color: #ffca06;
    display: inline;
    float: left;
    font-family: arial;
    font-size: 13px;
    padding: 1px;
    width: 100%;
}
.header_middle {
    border-bottom: 1px solid #343132;
    border-top: 1px solid #343132;
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.top_section {
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.property_logo h4 {
    color: white;
    float: left;
    font-family: "open_sansbold";
    font-size: 10px;
    font-style: italic;
    line-height: 16px;
    margin: 36px 0 0 11px;
    width: 58%;
}
.property_logo img {
    float: left;
    margin: 18px 0 11px;
}
.useful_link {
    float: left;
    margin: 21px 0 0;
    width: 100%;
}
.useful_link > ul li a {
    border-right: 1px solid;
    color: white;
    font-family: arial;
    font-size: 13px;
    padding: 0 8px;
}
.Residential_section_box {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #bdbdbd;
    float: left;
    margin: 0 20px 42px 7px;
    width: 95%;
}

.banner {
    border: medium none;
    float: left;
    height: auto;
    width: 100%;
}

.top_section_services {
    float: left;
    margin: 20px 0 0;
    width: 100% !important;
}
	
.Residential_section {
    float: left;
    margin: 20px 0 0;
    width: 100% !important;
}	
.Detail_Email {
    float: left;
    margin: 8px 0 0;
    width: 100%;
}

#map-canvas
{
	width:100% !important;
}
.Images {
    float: left;
    margin: 0 15px 10px 9px;
    width: 92% !important;
}
 .Free-Home {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #c8c6c6;
    float: left;
    margin: 41px 0 40px !important;
    padding: 15px 14px 30px 15px !important;
    width: 100% !important;
}
.Infomation > input {
    border: 1px solid gray;
    float: left;
    margin-bottom: 0px;
    width: 100% !important;
}
.Infomation {
    float: left;
    width: 100% !important;
	margin:10px 0;
	height:none !important;
}
.feature_listing {
    float: left;
    margin: 22px 0 0px !important;
    width: 100%;
}
.Residential_section_bg h3 {
    border-bottom: 1px solid #c2c3c4;
    color: #3a4d3b;
    float: left;
    font-family: "open_sansbold";
    font-size: 18px;
    margin-bottom: 1px;
    padding: 1px 0 11px;
    text-align: center;
    width: 100%;
}
.Residential_section_bg h3 {
    border-bottom: 1px solid #c2c3c4;
    color: #3a4d3b;
    float: left;
    font-family: "open_sansbold";
    font-size: 18px;
    margin-bottom: 1px;
    padding: 1px 0 11px;
    text-align: center;
    width: 100%;
}
.top_section ul li {
    color: white;
    display: inline;
    font-family: arial;
    font-size: 13px !important;
    padding: 3px !important;
    text-align: left;
}
.box5 > h2 {
    color: #457066;
    float: left;
    font-family: "open_sansbold";
    font-size: 20px;
    margin: 5px 3px 0 18px;
    width: 100% !important;
}
.search_boxx_right_bg {
    float: left;
    margin: 0 0 0 3px;
    width: 100% !important;
}
.para {
    float: left;
    width: 100% !important;
}
.favorate {
    float: left;
    padding: 0 0 0px 17px !important;
    width: 65% !important;
}
.search_boxx_right_bg_2 {
    float: left;
    padding: 2px 17px 7px !important;
    width: 100% !important;
}
.logo_section {
     float: left;
    margin: 49px 0 0;
    position: absolute;
    text-align: center;
    width: 80%;
	display:none;
}
.main_sct_bg {
     float: left;
    position: relative !important;
    top: -25px !important;
    width: 100%;
	margin:0px !important;
}
.main_sction {
    float: left;
    position: relative;
    top: 592px !important;
    width: 100%;
}
.box_sct_bg {
    float: left;
    margin: 44px 0 2px !important;
    text-align: center;
    width: 100% !important;
}
.video_sction {
    float: left;
    margin-top:204px !important;
    width: 100%;
}
.nav > li {
    background: rgba(0, 0, 0, 0) url("../images/menu-strip.png") no-repeat scroll 10px 14px;
    float: left;
    width: 100%;
}

.Residential_section_bg {
    float: left;
    margin: 227px 0 0 !important;
    width: 100%;
}
.Residential_section {
    float: left;
    margin: 20px 0 0;
    width: 97% !important;
}
.main_sction {
 float: left;
    position: relative;
    top:0 !important;
    width: 100% !important;
	left:0px !important;
}
.header_details h3 {
    color: white;
    float: left;
    font-family: bebas;
    font-size: 16px;
    text-align: center;
    width: 100%;
}
.header_detail {
text-align: center;
    width: 100%;
	 float: left;
    width:100% !important;
}
.middle_logo {
    float: left;
    margin: 6px 0;
    text-align: center;
    width: 100% !important;
	display:none;
}
iframe
{
	margin: 50px 0 0 0px !important;
    width: 100% !important;
}
.footer_social li {
    display: inline;
    list-style-type: none;
    margin: 0 6px 0 0 !important;
}
.property_new_details
{
	margin:129px 0 0 0px !important; 
}
.right_section_new {
    background: #f4f4f4 none repeat scroll 0 0;
    float: left;
    margin-top: 10px !important;
    padding-bottom: 10px;
    width: 100% !important;
}
    .menu_section {
        float: left;
        position: absolute;
        width: 95% !important;
        z-index: 9999999;
        background: #116ab2 ;
    }

.property-search-container_new
{
float: left;
    padding: 6px 0 25px;
    width: 97%;
}
.bottom_section_bg
{
	background:white !important   ;
	}

.Free-Home_new {
    float: left;
    margin: 10px 9px 26px -2px;
    padding: 5px;
    width: 104%;
}
.contact_in_left {
     background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #c8c6c6;
    float: left;
    margin: 0 0 35px 0px !important;
    padding: 15px;
  width: 100% !important;
  }
  .seaarch_Property_in {
    float: left;
    height: 209px;
    margin: 0 0 0 0px;
    width: 100%;
}
.Infomation > span {
    color: #151515;
    float: left;
    font-family: "open_sansregular";
    font-size: 13px;
    margin: 3px 0 0 !important;
    width: 100%;
}
.property-search-container .medium-module {
    height: auto;
    width: 100%;
}
.detl div {
    float: right;
    margin: 0 46px 2px 0;
    width: 157px;
}
.infor_list_3 {
    color: #666666;
    float: left;
    font-size: 16px;
    margin: 4px 11px 0 -9px;
    width: 100%;
}
.header_detail h2 {
    color: white;
    float: left;
    font-family: "CenturyGothic-Regular";
    font-size: 20px !important;
    font-weight: bold;
    margin: 5px 0;
    text-transform: uppercase;
    width: 100%;
}
.logo_section img {
 margin: 25px 0 0 31px;
    width: 67% !important;
}
.header_detail1 > ul {
    float: right;
    margin: 7px 0 0 !important;
    width: 68% !important;
}
.header_detail span {
    color: #116ab2;
    float: left;
     font-family: "montserratregular";
    font-size: 28px !important;
    text-transform: uppercase;
    width: 100%;
}
#one-footer {
    margin-top: 0px !important;
}
.box_sct_bg2 {
    float: left;
       margin: 51px 0 67px 10px !important;
    width: 100%;
}
.header_bg {
    float: left;
    padding: 8px;
    width: 100%;
}

.container
{
	padding:0px;
}

#landCalcBox {
    color: #000000 !important;
    float: left;
    margin: auto;
    width: 100%;
}
#calculatorForm {
    margin: auto;
    width: 100% !important;
}
#headerCalc {

    width: 100%;
}
#purchasePrice {

    width: 100%;
}
#purchasePrice > input {
    width: 100% !important;
}
#checkBox {

    width: 100%;
}
#resultBox {
 
    width: 100%;
}
#ontarioTax {

    width: 100%;
}
#torontoTax {
 
    float: left;
    width: 100%;
}
.fuuter_name h2 {
    color: #3f6f55;
    float: left;
    font-family: "open_sansbold";
    font-size: 20px;
    width: 100%;
}
.header_detail1 {
     float: right;
    text-align: center !important;
    width: 100% !important;
}
.fuutr_phne_bg {
     bottom: 0;
    display: block !important;
 position: fixed;
}
.futer_phn {
     background: #3f6f55 none repeat scroll 0 0;
    border-radius: 2px;
    color: white;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 44%;
}
.futer_phn1
{
	   background: #3f6f55 none repeat scroll 0 0;
    border-radius: 2px;
    color: white;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 44%;

}
.futer_phn span {
    color: white !important;
    margin: 0 5px 4px 0;
    padding: 5px;
}
.futer_phn1 span
{
	 color: white !important;
    margin: 0 5px 4px 0;
    padding: 5px;
}
.futer_mail_bg {
    background: #343434 none repeat scroll 0 0;
    border-radius: 0px;
    display: block !important;
    float: left;
    margin: 15px 0 0;
    padding: 10px;
    width: 100%;
}
.futer_mail span {
    padding: 8px;
}
.smpc-div > input {
    float: left;
    margin: 10px 13px 14px 0;
    width: 100%;
}
.fuuter_map {
    float: left;
    margin: 0 0 10px 0;
    width: 100%;
}
.futr_menu_sect ul li {
    display: inline;
    font-family: "CenturyGothic-Regular";
    font-size: 13px;
    list-style-type: none;
    padding: 0 12px 0 0 !important;
}
.futer_mail {
    float: left;
    text-align: center;
    width: 100%;
}
.search_boxx_left {
    border: 2px solid #34393d;
    float: left;
    margin: 21px 0 4px 14px;
    width: 90%;
	height:auto;
}
.search_boxx_list_5 {
    background-color: white;
    box-shadow: 0 3px 16px -11px black;
    float: left;
    margin: 12px 0 0 0px;
    width: 100%;
}
.search_boxx_right_bg > span > a {
    color: #34393d;
    float: left;
    font-family: "open_sansregular";
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    margin: 8px 0 15px 7px;
    padding: 0;
    text-align: justify;
    text-decoration: none;
    width: 90%;
	line-height:24px;
}
.mobile-phone
{
	display:none !important;
}
.header_bg_1 {
    display: none;
    float: left;
    padding: 8px;
    width: 100%;
}
.box_sct_bg2 {
    float: left;
   margin: 51px 0 67px 10px !important;
    width: 100%;
}
.futer_mail > ul li {
    display: inline;
    list-style-type: none;
    margin: 0 7px 0 12px;
}
.buyer_section > div {
 border: 2px solid grey;
    float: left;
  
    width: 100%;
}

.fuuter_bg {
    background: #0f5186   none repeat scroll 0 0;
    float: left;
    height: 300px;
    margin-top: 30px;
    padding: 8px;
    width: 100%;
}
.propert_header_img {
    display: none;
    float: left;
    margin: 7px 0;
    width: 100%;
}
.propert_header_cntntt_box {
    display: none;
    float: left;
    margin: 3px 0;
    text-align: center;
    width: 100%;
}
.propert_top_details {
    display: none;
    float: left;
    margin: 0;
    width: 100%;
}
.futer_mail > ul {
    float: left;
    margin: 0;
    width: 100%;
}
.hide_cal_new
{
	display:none;
}
}


@media screen and (max-width: 414px) {
.box_shadow {
    float: left;
    margin: 0px !important;
    width: 90%;
}
.Designed_and_Developed {
    float: left;
    margin: 15px 0 88px !important;
    text-align: center;
    width: 100%;
}
.about_section {
    background: white none repeat scroll 0 0;
    border: 1px solid #a7a7a7;
    float: left;
    padding: 12px;
    width: 100%;
}
.projects {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 2px solid #c8c6c6;
    float: left;
    margin: 12px 0;
    padding: 10px;
    width: 100%;
}
.futer_mennu ul li {
    display: inline;
    list-style-type: none;
    margin: 0 24px 0 0 !important;
}
.aboutMe_bg {
    background: white none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 300px;
    float: left;
    height: 382px !important;
    margin: 12px 0 0;
    width: 100%;
}
.aboutMe {
    float: left;
    margin-top: 58px !important;
    text-align: center;
    width: 100%;
}
.header_detail1 > ul {
    float: right;
    margin: 7px 0 0 !important;
    width: 72% !important;
}
.propert_header_cntntt {
    float: left;
    margin: 8px 0 !important;
    width: 100%;
}
.main_sct_bg_new {
    background: #f6f6f6 none repeat scroll 0 0;
    float: left;
    margin: 0 0 30px;
    padding: 26px 0;
    width: 100%;
}
.left_section_slider_new_demo {
    background: #f5f5f5 none repeat scroll 0 0;
    float: left;
    margin-bottom: 22px;
    width: 100%;
}	
.box_sct_bg {
    float: left;
    margin: 6px 0 !important;
    text-align: center;
    width: 100% !important;
}
.propert_top_details_scnd {
    display: inline-table;
    float: right;
    margin: 23px 0 0;
    width: 98%;
}
.header_detail1 h5 {
    float: left;
    margin: 0px!important;
    width:100% !important;
}
.Free-Home_calculator {
    border: 1px solid #818181;
    float: left;
    margin-bottom: 23px;
    padding: 8px;
    width: 100%;
}
.futer_mail > ul {
    float: left;
    margin: 0;
    width: 100%;
}
.buyer_section > div {
    border: 2px solid grey;
    float: left;
   
    width: 100%;
}
.w4rlisting-list-b li.a span {
    font-family: "open_sansbold";
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 -1px;
}
.propert_top_details {
    float: left;
    width: 100%;
	margin:0px;
}
.propert_header_cntntt_box {
    float: left;
    margin: 3px 0;
    text-align: center;
    width: 100%;
}
.proprty_price {
    border: medium none;
    float: left;
    width: 100%;
}
.propert_header_cntntt h2 {
    color: #dc1f16;
    float: left;
    font-family: "open_sansbold";
    font-size: 16px;
    margin: 6px 0;
    width: 100%;
}
.propert_header_img {
    float: left;
    margin: 7px 0;
    width: 100%;
}
.proprty_details_boxx {
    border-bottom: 1px solid grey;
    border-right: medium none;
    float: left;
    margin: 8px 0;
    text-align: center;
    width: 100%;
}
.proprty_details_boxx > h2 {
    color: #7e7e7e;
    float: left;
    font-family: open_sansbold;
    font-size: 12px;
    margin-top: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.proprty_details_boxx > span {
    float: left;
    font-family: open_sansbold;
    font-size: 11px;
    margin: 4px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.roco_cnts_us {
    float: left;
    width: 100%;
	margin:12px 0 0;
}

.txtar_fre_hme {
    margin-bottom: 32px;
}
.left_section_info {
    float: left;
    margin: 12px 0 !important;
    width: 100% !important;
}
.frr_hme_evl {
    height: 780px;
}
.box_sct_bg2 {
    float: left;
      margin: 51px 0 67px 10px !important;
    width: 90% !important;
}
.box_sct_bg3 {
    float: left;
    margin: 0 0 20px 30px !important;
    width: 90% !important;
}
.login_input_1 > input {
    float: left !important;
    width: 47% !important;
}
.para > p {
    color: #151515;
    float: left;
    font-family: "open_sansregular";
    font-size: 13px;
    line-height: 20px;
    margin: -8px 0 0;
    padding: 0 27px 14px 7px !important;
    text-align: justify;
    width: 100%;
}
.In_bg {
    float: left;
    margin: 0 0 27px !important;
    width: 100%;
}
.search_boxx_list_5 {
    background-color: white;
    box-shadow: 0 3px 16px -11px black;
    float: left;
    margin: 12px 0 0 !important;
    width: 100% !important;
}
.fuuter_bg {
    background: #0f5186  none repeat scroll 0 0;
    float: left;
    height: 260px;
    margin-top: 30px;
    padding: 8px;
    width: 100%;
}
	
}




@media screen and (max-width: 375px) {
	iframe
{
	 margin: 250px 0 0 -8px !important;
    width: 103% !important;
}
.footer_social a {
    line-height: 51px;
}
.buyer_section {
    float: left;

    width: 100%;
}
.property_top_box_sctn {
    float: left;
    margin: 5px 8px !important;
    text-align: center;
}
.futer_mennu ul li {
    display: inline;
    list-style-type: none;
    margin: 0 19px 0 0 !important;
}
.futer_mennu ul li a {
    color: white;
    font-family: "CenturyGothic-Regular";
    font-size: 14px !important;
}
.aboutMe_bg {
    background: white none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 300px;
    float: left;
    height: 332px !important;
    margin: 12px 0 0;
    width: 100%;
}
.aboutMe {
    float: left;
    margin-top: 28px !important;
    text-align: center;
    width: 100%;
}
.aboutMe p {
    color: #6e6e6e;
    float: left;
    font-family: "latoregular";
    font-size: 14px;
    line-height: 26px;
    padding: 13px !important;
    text-align: center;
    width: 100%;
}
.propert_top_details_scnd {
    display: inline-table;
    float: right;
    margin: 23px 0 0;
    width: 100%;
}
.login_input_1 > input {
    float: left !important;
    width: 35% !important;
}
.header_detail1 h5 {
    float: left;
    margin: 0px!important;
    width: 100% !important;
}
.footer_social li {
    display: inline;
    list-style-type: none;
    margin: 0 6px 0 0 !important;
}
.right_section_new {
    background: #f4f4f4 none repeat scroll 0 0;
    float: left;
    margin-top: 10px !important;
    padding-bottom: 10px;
    width: 100% !important;
}
.Residential_section_bg {
    float: left;
    margin:216px 0 0 0px !important;
    width: 100%;
}
.video_sction {
    float: left;
       margin-top: 290px !important;
    width: 100%;
}
    .menu_section {
        float: left;
        position: absolute;
        width: 95% !important;
        z-index: 9999999;
        background: #116ab2 ;
    }

.property-search-container_new
{
float: left;
    padding: 6px 0 25px;
    width: 97%;
}
.bottom_section_bg
{
	background:white !important   ;
	}

.Free-Home_new {
       float: left;
    margin: 10px 9px 0 -2px;
    padding: 10px;
    width: 100%;
}

.contact_in_left {
    background: white none repeat scroll 0 0;
    border: 3px solid #eaeaea;
    float: left;
    margin: 0 0 35px 0px !important;
    padding: 15px;
  width: 100% !important;
  }
  ul.dt-sc-tabs-frame > li > a {
    background: #1c1c1c none repeat scroll 0 0;
    border-bottom: 0 none;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    float: left;
    font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px !important;
    line-height: 38px;
    margin: 0;
    padding: 0 10px !important;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.seaarch_Property_in {
    float: left;
    height: 209px;
    margin: 0 0 0 0px;
    width: 100%;
}
.infor_list_2 {
    color: #666666;
    float: left;
    font-size: 16px;
    margin: 14px 0 0 -6px;
    width: 100%;
}

.property-search-container .medium-module {
    height: auto;
    width: 100%;
}
.detl div {
    float: right;
    margin: 0 46px 2px 0;
    width: 157px;
}
.infor_list_3 {
    color: #666666;
    float: left;
    font-size: 16px;
    margin: 4px 11px 0 -9px;
    width: 100%;
}
.srch_btn_upr input {
    width: 67% !important;
}
.header_detail h2 {
    color: white;
    float: left;
    font-family: "CenturyGothic-Regular";
    font-size: 20px !important;
    font-weight: bold;
    margin: 5px 0;
    text-transform: uppercase;
    width: 100%;
}
.logo_section img {
   margin: 25px 0 0 31px;
    width: 67% !important;
}
.header_detail span {
    color: #116ab2;
    float: left;
     font-family: "montserratregular";
    font-size: 25px !important;
    text-transform: uppercase;
    width: 100%;
}

#one-footer {
    margin-top: 0px !important;
}
.box_sct_bg2 {
    float: left;
    margin: 0 0 25px 10px !important;
    width: 100% !important;
}

    .box_sct_bg3 {
        float: left;
        margin: 0 0 0 10px !important;
        width: 100% !important;
    }

.container
{
	padding:0px;
}

#landCalcBox {
    color: #000000 !important;
    float: left;
    margin: auto;
    width: 100%;
}
#calculatorForm {
    margin: auto;
    width: 100% !important;
}
#headerCalc {

    width: 100%;
}
#purchasePrice {

    width: 100%;
}
#purchasePrice > input {
    width: 100% !important;
}
#checkBox {

    width: 100%;
}
#resultBox {
 
    width: 100%;
}
#ontarioTax {

    width: 100%;
}
#torontoTax {
 
    float: left;
    width: 100%;
}
.fuuter_name h2 {
    color: #3f6f55;
    float: left;
    font-family: "open_sansbold";
    font-size: 20px;
    width: 100%;
}
.header_detail1 {
   float: right;
    text-align: center !important;
    width: 100% !important;
}
.fuutr_phne_bg {
     bottom: 0;
    display: block !important;
 position: fixed;
}
.futer_phn {
     background: #3f6f55 none repeat scroll 0 0;
    border-radius: 2px;
    color: white;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 44%;
}
.futer_phn1
{
	   background: #3f6f55 none repeat scroll 0 0;
    border-radius: 2px;
    color: white;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 46%;

}
.futer_phn span {
    color: white !important;
    margin: 0 5px 4px 0;
    padding: 5px;
}
.futer_phn1 span
{
	 color: white !important;
    margin: 0 5px 4px 0;
    padding: 5px;
}
.futer_mail_bg {
    background: #343434 none repeat scroll 0 0;
    border-radius: 0px;
    display: block !important;
    float: left;
    margin: 15px 0 0;
    padding: 10px;
    width: 100%;
}
.futer_mail span {
    padding: 8px;
}
.smpc-div > input {
    float: left;
    margin: 10px 13px 14px 0;
    width: 100%;
}
.srch_btn_upr {
    float: right;
    width: 80%;
}
.futr_menu_sect ul {
    float: left;
    line-height: 26px;
    width: 100%;
}
.search_boxx_left {
    border: 2px solid #34393d;
    float: left;
    margin: 21px 0 24px 14px;
    width: 90%;
	height:auto;
}
.search_boxx_list_5 {
    background-color: white;
    box-shadow: 0 3px 16px -11px black;
    float: left;
    margin: 12px 0 0;
    width: 100%;
}
.search_boxx_right_bg > span > a {
    color: #34393d;
    float: left;
    font-family: "open_sansregular";
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    margin: -22px 0 15px 7px;
    padding: 30px 0 0;
    text-align: justify;
    text-decoration: none;
    width: 90%;
}
.mobile-phone
{
	display:none !important;
}
.header_bg_1 {
    display: none;
    float: left;
    padding: 8px;
    width: 100%;
}
.futer_mail > ul li {
    display: inline;
    list-style-type: none;
    margin: 0 7px 0 12px;
}
.Sendbutton
{
	width:40% !important;
}
.fuuter_bg {
    background: #0f5186   none repeat scroll 0 0;
    float: left;
    height: 250px;
    margin-top: 30px;
    padding: 8px;
    width: 100%;
}
}


/************************************************************************************
smaller than 375
*************************************************************************************/
@media screen and (max-width: 360px) {

.property_top_box_sctn {
    float: left;
    margin: 5px 7px !important;
    text-align: center;
}
.header_detail1 > ul {
    float: right;
    margin: 7px 0 0 !important;
    width: 75% !important;
}
.futer_mennu ul li {
    display: inline;
    list-style-type: none;
    margin: 0 15px 0 0 !important;
}
}

/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 320px) {
	.top_section ul li {
    color: #ffca06;
    display: inline;
    float: left;
    font-family: arial;
    font-size: 13px;
    padding: 1px;
    width: 100%;
}
.header_middle {
    border-bottom: 1px solid #343132;
    border-top: 1px solid #343132;
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.aboutMe_bg {
    background: white none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 300px;
    float: left;
    height: 292px !important;
    margin: 12px 0 0;
    width: 100%;
}
.aboutMe {
    float: left;
    margin-top: 14px !important;
    text-align: center;
    width: 100%;
}
.aboutMe h1 {
    color: #791311;
    float: left;
    font-family: "open_sansbold";
    font-size: 16px !important;
    margin: 0 !important;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.aboutMe p {
    color: #6e6e6e;
    float: left;
    font-family: "latoregular";
    font-size: 12px !important;
    line-height: 23px !important;
    padding: 21px !important;
    text-align: center;
    width: 100%;
}
.aboutMe_butn a {
    background: #c9700a none repeat scroll 0 0;
    border-radius: 6px;
    color: white;
    font-family: "latoregular";
    font-size: 10px !important;
    padding: 6px 12px;
}
.aboutMe_butn {
    float: left;
    margin: 0px !important;
    width: 100%;
}
.top_section {
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.futer_mennu ul li {
    display: inline;
    list-style-type: none;
    margin: 0 36px 0 0 !important;
}
.property_logo h4 {
    color: white;
    float: left;
    font-family: "open_sansbold";
    font-size: 10px;
    font-style: italic;
    line-height: 16px;
    margin: 36px 0 0 11px;
    width: 58%;
}
.property_logo img {
    float: left;
    margin: 18px 0 11px;
}
.useful_link {
    float: left;
    margin: 21px 0 0;
    width: 100%;
}
.useful_link > ul li a {
    border-right: 1px solid;
    color: white;
    font-family: arial;
    font-size: 13px;
    padding: 0 8px;
}
.Residential_section_box {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #bdbdbd;
    float: left;
    margin: 0 20px 42px 7px;
    width: 95%;
}

.banner {
    border: medium none;
    float: left;
    height: auto;
    width: 100%;
}

.top_section_services {
    float: left;
    margin: 20px 0 0;
    width: 100% !important;
}
	
.Residential_section {
    float: left;
    margin: 20px 0 0;
    width: 100% !important;
}	
.Detail_Email {
    float: left;
    margin: 8px 0 0;
    width: 100%;
}

#map-canvas
{
	width:100% !important;
}
.Images {
    float: left;
    margin: 0 15px 10px 9px;
    width: 92% !important;
}

.Infomation > input {
    border: 1px solid gray;
    float: left;
    margin-bottom: 17px;
    width: 100% !important;
}
.Infomation {
    float: left;
    width: 100% !important;
	height:auto !important;
}
.contact_number {
    float: left;
    padding: 4px;
    position: absolute;
    top: 457px !important;
    z-index: 99999;
}
.contact_number span {
    color: white;
    float: left;
    font-size: 16px !important;
    text-align: center;
    width: 91%;
}
ul.dt-sc-tabs-frame > li > a {
    background: #1c1c1c none repeat scroll 0 0;
    border-bottom: 0 none;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    float: left;
    font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 8px !important;
    line-height: 38px;
    margin: 0;
    padding: 0 10px !important;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.property-search-container .medium-module {
    height: 90px;
    width: 100% !important;
}
.feature_listing {
    float: left;
    margin: 22px 0 0px !important;
    width: 100%;
}
.Residential_section_bg h3 {
    border-bottom: 1px solid #c2c3c4;
    color: #3a4d3b;
    float: left;
    font-family: "open_sansbold";
    font-size: 18px !important;
    margin-bottom: 1px;
    padding: 1px 0 11px;
    text-align: center;
    width: 100%;
}
.top_section ul li {
    color: white;
    display: inline;
    font-family: arial;
    font-size: 13px !important;
    padding: 3px !important;
    text-align: left;
}
.box5 > h2 {
    color: #457066;
    float: left;
    font-family: "open_sansbold";
    font-size: 20px;
    margin: 5px 3px 0 18px;
    width: 100% !important;
}
.search_boxx_right_bg {
    float: left;
    margin: 0 0 0 3px;
    width: 100% !important;
}
.para {
    float: left;
    width: 100% !important;
}
.favorate {
    float: left;
    padding: 0 0 0px 17px !important;
    width: 65% !important;
}
.search_boxx_right_bg_2 {
    float: left;
    padding: 2px 17px 7px !important;
    width: 100% !important;
}
.logo_section {
    float: left;
    margin: 62px 0 8px;
    text-align: left !important;
    width: 100% !important;
	display:none;

}
.main_sct_bg {
      float: left;
    position: relative !important;
    top: -15px !important;
    width: 100%;
    z-index: 999999;
	margin:0px !important;
}
.main_sction {
    float: left;
    position: relative;
    top: 23px !important;
    width: 100%;
}
/*.video_sction {
    float: left;
       margin-top: 81px !important;
    width: 100%;
}*/
.nav > li {
    background: rgba(0, 0, 0, 0) url("../images/menu-strip.png") no-repeat scroll 10px 14px;
    float: left;
    width: 100%;
}

.Residential_section_bg {
    float: left;
    margin:140px 0px 0 !important;
    width: 100%;
}
.Residential_section {
    float: left;
    margin: 20px 0 0;
    width: 100% !important;
}
.main_sction {
    float: left;
    position: relative;
    top: 0 !important;
    width: 100% !important;
	left:0px !important;
}
.header_details h3 {
    color: white;
    float: left;
    font-family: bebas;
    font-size: 16px;
    text-align: center;
    width: 100%;
}
.header_detail {
    float: left;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
iframe
{
	 margin: 150px 0 0 -9px !important;
    width: 104% !important;
}
.footer_social li {
    display: inline;
    list-style-type: none;
    margin: 0 5px 0 0 !important;
}
.right_section_new {
    background: #f4f4f4 none repeat scroll 0 0;
    float: left;
    margin-top: 10px !important;
    padding-bottom: 10px;
    width: 100% !important;
}
.box_sct_bg3 {
    float: left;
    margin: 0px 0 47px !important;
    width: 100% !important;
}
    .menu_section {
        float: left;
        position: absolute;
        width: 95% !important;
        z-index: 9999999;
        background: #116ab2 ;
    }

.header_detail1 > ul {
    float: right;
    margin: 7px 0 0 !important;
    width: 78% !important;
}
.property-search-container_new
{
float: left;
    padding: 6px 0 25px;
    width: 97%;
}
.bottom_section_bg
{
	background:white !important   ;
}

.Free-Home_new {
    float: left;
    margin: 10px 9px 0px -2px;
    padding: 5px;
    width: 104%;
}

.contact_in_left {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #c8c6c6;
    float: left;
    margin: 0 0 35px 0px !important;
    padding: 15px;
  width: 100% !important;
  }
  .seaarch_Property_in {
    float: left;
    height: 209px;
    margin: 0 0 0 0px;
    width: 100%;
}

.property-search-container .medium-module {
    height: auto;
    width: 100%;
}
.detl div {
    float: right;
    margin: 0 46px 2px 0;
    width: 157px;
}
.infor_list_3 {
    color: #666666;
    float: left;
    font-size: 16px;
    margin: 4px 11px 0 -9px;
    width: 100%;
}
.header_detail h2 {
    color: white;
    float: left;
    font-family: "CenturyGothic-Regular";
    font-size: 20px !important;
    font-weight: bold;
    margin: 5px 0;
    text-transform: uppercase;
    width: 100%;
}
.logo_section img {
    width: 62%  !important;
}
.header_detail span {
    color: #116ab2;
    float: left;
     font-family: "montserratregular";
    font-size: 25px !important;
    text-transform: uppercase;
    width: 100%;
}

.box_sct_bg2 {
    float: left;
    margin-bottom: 25px !important;
    width: 100% !important;
}


.container
{
	padding:0px;
}

#landCalcBox {
    color: #000000 !important;
    float: left;
    margin: auto;
    width: 100%;
}
#calculatorForm {
    margin: auto;
    width: 100% !important;
}
#headerCalc {

    width: 100%;
}
#purchasePrice {

    width: 100%;
}
#purchasePrice > input {
    width: 100% !important;
}
#checkBox {

    width: 100%;
}
#resultBox {
 
    width: 100%;
}
#ontarioTax {

    width: 100%;
}
#torontoTax {
 
    float: left;
    width: 100%;
}
.fuuter_name h2 {
    color: #3f6f55;
    float: left;
    font-family: "open_sansbold";
    font-size: 20px !important;
    width: 100%;
}
.header_detail1 {
    float: right;
    text-align: center !important;
    width: 100% !important;
}
.fuutr_phne_bg {
   bottom: 0;
    display: block !important;
     position: fixed;
}
.futer_phn {
     background: #3f6f55 none repeat scroll 0 0;
    border-radius: 2px;
    color: white;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 44%;
}
.futer_phn1
{
	   background: #3f6f55 none repeat scroll 0 0;
    border-radius: 2px;
    color: white;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 46%;

}

.futer_phn span {
    color: white !important;
    margin: 0 5px 4px 0;
    padding: 5px;
}
.futer_phn1 span
{
	 color: white !important;
    margin: 0 5px 4px 0;
    padding: 5px;
}
.futer_mail_bg {
    background: #343434 none repeat scroll 0 0;
    border-radius: 0px;
    display: block !important;
    float: left;
    margin: 1px 0 0;
    padding: 10px;
    width: 100%;
}
.futer_mail span {
    padding: 8px;
}
.smpc-div > input {
    float: left;
    margin: 10px 13px 14px 0;
    width: 100% !important;
}
.search_boxx_left {
    border: 2px solid #34393d;
    float: left;
    margin: 21px 0 24px 14px;
    width: 90%;
	height:auto;
}

.search_boxx_right_bg > span > a {
    color: #34393d;
    float: left;
    font-family: "open_sansregular";
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    margin: -22px 0 15px 7px;
    padding: 30px 0 0;
    text-align: justify;
    text-decoration: none;
    width: 90%;
}
.mobile-phone
{
	display:none !important;
}
.header_bg_1 {
    display: none;
    float: left;
    padding: 8px;
    width: 100%;
}
.box_sct_bg2 {
    float: left;
    margin: 0 0 25px 2px !important;
    width: 100%;
}

.fuutr_phne_bg {
    bottom: 0;
    display: block !important;
    position: fixed;
    z-index:99;
	width:100%;
}
.futer_mail_bg {
    background:#343434;
    border-radius: 0;
    display: block !important;
    float: left;
    margin: 1px 0 0;
    padding: 10px 0 10px 0px;
    width: 100%;
	text-align:center;
}
.futer_mail > ul {
    float: left;
    width: 100%;
}
.futer_mail > ul li {
    display: inline;
    list-style-type: none;
    margin: 0 7px 0 12px;
}
.futer_mail > ul li a {
    border: 0 none;
    border-radius: 14px;
    color: white;
    font-size: 18px;
    padding: 5px 2px;
    width: auto;
}
.fuutr_phne_bg {
    display: block;
}
.Infomation_1_Email_Listing {
    float: left;
    margin-top: 11px !important;
    width: 100%;
}
.frr_hme_evl {
    height: 960px;
}
.buyer_section > div {
    border: 2px solid grey;
    float: left;
    
    width: 100%;
}
.header_detail1 h5 {
    float: left;
    margin:0px!important;
    width: 100%!important;
}
.fuuter_bg {
    background: #0f5186   none repeat scroll 0 0;
    float: left;
    height: 300px;
    margin-top: 30px;
    padding: 8px;
    width: 100%;
}
.property_top_box_sctn {
    float: left;
    margin: 5px 3px !important;
    text-align: center;
}
}