* {
    margin: 0;
    padding: 0;
}

html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset, p {
    margin: 0;
    padding: 0;
    border: none;
}

a, input, select, textarea {
    outline: none;
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: 0;
}

a {
    outline: none;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    vertical-align: middle;
    border: none;
    outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}

div, h1, h2, h3, h4, span, p, input, form, img, hr, img, a {
    margin: 0;
    padding: 0;
    border: none;
}

.clear {
    clear: both;
}

body {
    margin: 0;
    padding: 0;
}

.header_bg {
    float: left;
    width: 100%;
    padding: 4px 0;
}

.header_detail {
    float: left;
    width: 100%;
	margin:19px 0 0;
}

    .header_detail h2 {
        float: left;
        font-size: 27px;
        margin: 5px 0;
        width: 100%;
		border-bottom: 1px solid #116ab2;
    }

    .header_detail span {
        color: #116ab2;
        float: left;
        font-size: 28px;
		 font-family: 'montserratregular';
        width: 100%;
    }

.header_detail1 h2 {
    color: white;
    float: left;
    font-family: "CenturyGothic-Regular";
    font-size: 27px;
    margin: 5px 0;
    text-transform: uppercase;
    width: 100%;
}

.header_detail1 span {
    color: #313131;
    font-family: 'latobold';
    font-size: 17px;
    margin: 2px 0;
}

.top_menu_bg {
    float: left;
    width: 100%;
    background: #116ab2;
}

.menu_section {
    float: left;
    width: 100%;
}

    .menu_section nav {
        background: none;
        border: none;
        box-shadow: none;
        margin-top: 6px;
    }

        .menu_section nav ul li a {
            color: white !important;
            font-size: 14px;
            margin: -5px 35px 0 0;
            text-transform: uppercase;
            font-family: 'CenturyGothic-Regular';
        }

.main_sct_bg {
    float: left;
    margin: 20px 0 0;
    width: 100%;
	padding:20px 0;
	background:#f1f0f0;
}

.box_sct_bg {
    float: left;
    width: 100%;
}

    .box_sct_bg > h2 {
        background: rgba(0, 0, 0, 0) url("../images/heading_bg.png") no-repeat scroll 0 0;
        color: white;
        float: left;
        font-size: 18px;
        padding: 13px 0 9px 8px;
        width: 100%;
        font-family: 'proxima_nova_rgbold';
        text-transform: uppercase;
        margin: 0 0 0 -1px;
    }

.box_shadow {
    float: left;
    text-align: center;
    width: 100%;
}

.box_sct_bg a img {
}

.main_sction {
    float: left;
    width: 100%;
	margin:0 0 9px 0;
}

.banner_sction {
    float: left;
    width: 100%;
}

.box_sct_bg2 {
    float: left;
    margin: 0 0 0 10px;
    width: 100%;
}

    .box_sct_bg2 > h2 {
        background: rgba(0, 0, 0, 0) url("../images/heading_bg2.png") no-repeat scroll 0 0;
        color: white;
        float: left;
        font-size: 18px;
        padding: 13px 0 9px 8px;
        width: 100%;
        font-family: 'proxima_nova_rgbold';
        text-transform: uppercase;
        margin: 0 0 0 -1px;
    }

    .box_sct_bg2 a img {
    }

.box_sct_bg3 {
    float: left;
    margin: 0 0 0 15px;
    width: 100%;
}

    .box_sct_bg3 > h2 {
        background: rgba(0, 0, 0, 0) url("../images/heading_bg3.png") no-repeat scroll 0 0;
        color: white;
        float: left;
        font-size: 18px;
        padding: 13px 0 9px 8px;
        font-family: 'proxima_nova_rgbold';
        text-transform: uppercase;
        width: 100%;
        margin: 0 0 0 -1px;
    }

    .box_sct_bg3 a img {
    }

.bottom_section_bg {
    background: #171d23 none repeat scroll 0 0;
    float: left;
    margin: -17px 0 0;
    padding: 8px;
    width: 100%;
}

.video_sction {
    float: left;
    margin-top: 12px;
    width: 100%;
}

.buyer_seller_bg {
    float: left;
    width: 100%;
}

.buyer_section {
    float: left;
    margin: 12px 0 22px;
    width: 100%;
}

    .buyer_section img {
        border: 2px solid #d95f60;
    }

.footer_social {
    float: left;
    width: 100%;
}

.footer_bg {
    background: #1d1d1d none repeat scroll 0 0;
    bottom: 0;
    clear: both;
    float: left;
    padding: 8px;
    width: 100%;
}

.footer_social li {
    display: inline;
    list-style-type: none;
    margin: 0 25px;
}

.footer_social {
    float: left;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

.logo_section {
    float: left;
    width: 80%;
    text-align: center;
}

a, a:active, a:focus {
    outline: none;
}


.menu_new {
    border-bottom-left-radius: 20px;
    width: 100%;
    background: black;
}

.nav > li {
    background: rgba(0, 0, 0, 0) url("../images/menu-strip.png") no-repeat scroll 10px 14px;
    float: left;
}

.nav li {
    position: relative;
}

.nav > li > a {
    display: block;
}

.nav a {
    color: #ffffff;
    font-family: "source_sans_proregular";
    font-size: 16px;
    padding: 6px 19px;
    text-decoration: none;
}


.toggleMenu {
    background: rgba(0, 0, 0, 0) url("../images/menu-icon.png") no-repeat scroll 0 0;
    color: #f0b310;
    display: none;
    margin: 26px 0 0 8px;
    padding: 32px 0 0 49px;
}

.nav {
    list-style: none;
    *zoom: 1;
}

    .nav:before,
    .nav:after {
        content: " ";
        display: table;
    }

    .nav:after {
        clear: both;
    }

    .nav ul {
        list-style: none;
        width: 100%;
    }

    .nav a {
        color: #FFFFFF;
        font-family: 'CenturyGothic-Regular';
        font-size: 15px;
        padding: 3px 13px;
        text-decoration: none;
    }

    .nav li {
        position: relative;
    }

    .nav > li {
        float: left;
        background: url(../images/menu-strip.png) no-repeat 10px 14px;
    }

        .nav > li > .parent {
            background-image: url("../images/downArrow.png");
            background-repeat: no-repeat;
            background-position: right;
        }

        .nav > li > a {
            display: block;
        }

    .nav li ul {
        left: -9999px;
        margin: 0 0 0 0px;
        padding: 0;
        position: absolute;
        width: 272px;
        z-index: 999999999;
    }

    .nav > li.hover > ul {
        left: 0;
    }

    .nav li li.hover ul {
        left: 100%;
        top: 0;
    }

    .nav li li a {
        background: #231f20 none repeat scroll 0 0;
        border: 1px solid black;
        display: block;
        font-family: arial;
        font-size: 13px;
        position: relative;
        z-index: 100;
    }

    .nav li li li a {
        background: #249578;
        z-index: 200;
        border-top: 1px solid red;
    }

.active {
    color: white !important;
}

.nav.nav-pills a:hover {
    background: #434343;
}

/*iframe {
    border: 1px solid;
    width: 500px;
}
*/
.nav > li > a {
    display: block;
    padding: 15px 20px;
    position: relative;
}

    .nav > li > a:hover, .nav > li > a:focus {
        background-color: #434343 !important;
        text-decoration: none;
    }

.Free-Home_new_1 span {
    color: black !important;
}

.nav ul li a:hover {
    color: #22c3c3;
}

.search_home_sction_bg {
    float: left;
    margin: 24px 0 0;
    width: 100%;
}

.buyer_section > a {
    cursor: pointer !important;
}

.inner_banner {
    float: left;
    width: 100%;
}

    .inner_banner > img {
        float: left;
        margin-bottom: 15px;
        width: 100%;
    }

.header_detail p {
    color: #373738;
    float: left;
   font-family: 'montserratregular';
    font-size: 17px;
    width: 100%;
}

.fuuter_bg {
    background: #0f5186 none repeat scroll 0 0;
    float: left;
    padding: 8px;
    width: 100%;
}

.fuuter_map {
    margin: 6px 0 0;
    float: left;
    width: 100%;
}

.fuuter_name {
    float: left;
    margin: 4px 0 0;
    width: 100%;
}

.fuuter_adress {
    float: left;
    margin: 16px 0 0;
    width: 100%;
}

.fuuter_dtl {
    float: left;
    margin: 13px 0 0;
    width: 100%;
}

.fuuter_name h2 {
    float: left;
    font-size: 22px;
    width: 100%;
    font-family: 'open_sansbold';
    color: #5a1501;
}

.fuuter_name span {
    color: #616161;
    float: left;
    font-family: arial;
    font-size: 15px;
    margin-top: 4px;
    width: 100%;
}

.fuuter_adress h3 {
    float: left;
    font-family: arial;
    font-size: 17px;
    width: 100%;
    color: black;
}

.fuuter_adress p {
    color: black;
    float: left;
    font-family: arial;
    font-size: 14px;
    margin-top: 1px;
    width: 100%;
}

.fuuter_dtl p a {
    color: black;
}

.ftr_hdng {
    color: #5a1501;
    margin: 0 8px 0 0;
}




.prflee_sct_bg {
    float: left;
    width: 100%;
}

.prfle_dtail {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

    .prfle_dtail h2 {
        color: #336666;
        float: left;
        font-family: "open_sansbold";
        font-size: 20px;
        margin-top: 12px;
        padding-bottom: 0;
        width: 100%;
    }

    .prfle_dtail p {
        float: left;
        font-family: "open_sansregular";
        font-size: 14px;
        line-height: 24px;
        margin-top: 12px;
        text-align: justify;
        width: 100%;
        color: #616161;
    }

.contact_info_bg {
    background: #ebebeb none repeat scroll 0 0;
    border: 3px solid #c5c5c5;
    float: left;
    padding: 8px;
    margin-bottom: 20px;
    width: 100%;
}

.contact_inffo {
    border-radius: 12px;
    float: left;
    width: 100%;
}

    .contact_inffo > h2 {
        border-bottom: 1px solid #336666;
        color: #336666;
        float: left;
        font-family: "open_sansbold";
        font-size: 22px;
        padding-bottom: 10px;
        text-align: center;
        width: 100%;
    }

    .contact_inffo > h3 {
        float: left;
        font-family: "open_sansregular";
        font-size: 20px;
        margin-top: 12px;
        text-align: center;
        width: 100%;
    }

    .contact_inffo > span {
        float: left;
        font-family: "open_sansregular";
        font-size: 15px;
        margin-bottom: 13px;
        text-align: center;
        width: 100%;
    }

    .contact_inffo > p {
        float: left;
        font-family: "open_sansregular";
        font-size: 14px;
        text-align: center;
        width: 100%;
    }



.news_sction_bg {
    float: left;
    width: 100%;
    border: 1px solid #C8C6C6;
    background: #f1f0f0;
    padding: 12px;
    border-radius: 5px;
}

.news_sect {
    border-bottom: 1px solid #a6a6a6;
    float: left;
    margin-top: 22px;
    padding-bottom: 13px;
    width: 100%;
}

.news_head_sect {
    float: left;
    width: 100%;
    margin-top: 16px;
}

    .news_head_sect > h2 {
        border-bottom: 1px solid grey;
        float: left;
        font-size: 20px;
        padding-bottom: 5px;
        font-family: 'open_sansbold';
        width: 100%;
    }

    .news_head_sect > p {
        float: left;
        font-size: 15px;
        width: 100%;
    }

.news_sect > h2 {
    color: #116ab2 ;
    float: left;
    font-family: "open_sansbold";
    font-size: 16px;
    width: 100%;
}

.news_butn {
    float: left;
    margin: 5px 0 0;
    width: 100%;
}

    .news_butn > a {
        color: red;
        float: left;
        font-size: 12px;
        margin: 6px 0 0;
    }

.news_date > span {
    color: #4c4c4c;
    float: left;
    font-size: 12px;
    margin-top: 2px;
    width: 100%;
}

.news_sect > h2 a {
    float: left;
    font-size: 18px;
    width: 100%;
    font-family: 'open_sansbold';
    color: #336666;
    text-decoration: underline;
}

.news_sect > p {
    float: left;
    font-size: 14px;
    margin-top: 3px;
    width: 100%;
    font-family: 'open_sansregular';
}

    .news_sect > p span {
        color: #4c4c4c;
        float: left;
        font-family: "open_sansregular";
        font-size: 14px;
        margin-top: 10px;
        text-align: justify;
        width: 100%;
    }

.news_sect > span {
    float: left;
    font-size: 12px;
    width: 100%;
    font-family: 'open_sansregular';
}

.news_sect ul {
    float: left;
    padding: 10px 16px;
    width: 100%;
}

.news_sect ol {
    float: left;
    padding: 10px 16px;
    width: 100%;
}

    .news_sect ol li {
        line-height: 25px;
    }

.news_sect ul li {
    line-height: 25px;
}




.awrd_sct {
    float: left;
    width: 100%;
}

    .awrd_sct > h2 {
        color: #336666;
        float: left;
        font-family: "open_sansbold";
        font-size: 20px;
        margin-top: 12px;
        padding-bottom: 0;
        width: 100%;
    }

.awrd > p {
    color: #616161;
    float: left;
    font-family: "open_sansregular";
    font-size: 13px;
    text-align: justify;
    font-weight: normal;
    width: 100%;
}

.awrd {
    float: left;
    margin: 10px 0;
    width: 100%;
}

.awrd_sct > p {
    color: red;
    margin-bottom: 17px;
}

.header_detail1 {
    float: left;
    width: 100%;
	text-align:right;
    margin: 16px 0 0;
}

    .header_detail1 p {
        color: white;
        float: left;
        font-family: "CenturyGothic-Regular";
        font-size: 17px;
        width: 100%;
    }

.fuutr_phne_bg {
    display: none;
    float: left;
    width: 100%;
    z-index: 2147483647;
}

.futer_mail_bg {
    display: none;
}


.Free-Home p a {
    color: #420f01;
}



.login_input_1 > input {
    float: left !important;
    width: auto;
}

.login_input_1 {
    float: left;
    padding: 0 0 0 8px;
    width: 100%;
}

    .login_input_1 > a {
        color: #336666;
        font-family: "open_sansregular";
        text-decoration: none;
    }

.Free-Home h4 {
    background: #2b2b2b none repeat scroll 0 0;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}

.Free-Home > p {
    font-size: 13px;
    margin-bottom: 10px;
}

.smpc-div > p {
    font-size: 13px;
}

.smpc-div > input {
    float: left;
    margin: 10px 13px 14px 0;
    width: 44%;
}


.fuutr_menu_bg {
    float: left;
    width: 100%;
    padding: 6px;
    background: #5a1501;
}

.futr_menu_sect {
    float: left;
    width: 100%;
}

    .futr_menu_sect ul {
        float: left;
        width: 100%;
    }

        .futr_menu_sect ul li {
            display: inline;
            font-family: "CenturyGothic-Regular";
            list-style-type: none;
            padding: 0 50px 0 0;
        }

            .futr_menu_sect ul li a {
                color: white;
                text-decoration: none;
            }

.header_bg_1 {
    background: #434343 none repeat scroll 0 0;
    border-top: 2px solid #3f6f55;
    float: left;
    padding: 8px;
    width: 100%;
}

.mtch_fnd {
    float: left;
    text-align: center;
    width: 100%;
}

    .mtch_fnd > span {
        font-size: 24px;
        font-family: "CenturyGothic-Regular";
        color: #3f6f55;
    }

.pricewin {
    float: left;
    height: 100px;
    left: 67%;
    position: absolute;
    top: 187px;
    width: 18%;
    z-index: 999999;
}

.contact_in_right > img {
    width: 100%;
}

.totalrecorslabe {
    color: #5a1501;
    font-weight: bold;
    font-size: 19px;
}

.lastupdate {
    color: #5a1501;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 0px 0px 0px !important;
    float: left;
}

.clsCompare {
    margin-left: 12px;
    color: #F00;
    font-weight: bold;
}

.image1 {
    border-radius: 92px;
    width: 63%;
}

.detail_span h5 {
    font-size: 16px;
    text-align: center;
    width: 70%;
}

.ftrd_prprty_hdng span {
    color: #5a1501;
    font-size: 23px;
}

.ftrd_prprty_hdng h2 {
    color: #2b2b2b;
    float: left;
    font-family: "CenturyGothic-Regular";
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    width: 100%;
}

.ftrd_prprty_hdng {
    float: left;
    width: 100%;
    text-align: center;
}

.comin_soon {
    float: left;
    margin: 66px 0;
    text-align: center;
    width: 100%;
}

.Detail_Email123 {
    float: left;
    width: 100%;
}

    .Detail_Email123 input {
        margin: 14px 12px 0 0;
        width: 12%;
    }

.login_input_regstrtn {
    float: left;
    width: 100%;
}

    .login_input_regstrtn > input {
        float: left !important;
    }

.Infomation_1_Email_Listing {
    float: left;
    margin-top: 151px;
    width: 100%;
}

    .Infomation_1_Email_Listing > span {
        color: #151515;
        float: left;
        font-family: "open_sansregular";
        font-size: 13px;
        margin: 0;
        width: 118px;
    }

    .Infomation_1_Email_Listing > p {
        float: left;
        font-size: 14px;
        text-align: justify;
        width: 70%;
        font-family: "open_sansregular";
        color: #151515;
    }

.schdul_pddng {
    padding: 10px !important;
}

.tble_hdng_clr {
    color: white;
}

.scoico_icns_frnt {
    display: inline;
    float: left;
    margin-left: 0;
    width: 100%;
}

    .scoico_icns_frnt > li {
        list-style-type: none;
        display: inline;
        margin: 0 15px 0 0px;
    }

.ftr_hdng_new {
    color: #dc1f16;
    float: left;
    font-size: 19px;
    margin: 9px 14px 0 0;
}

.lblListbrokerage {
    color: black;
    font-size: 16px;
    font-family: "open_sansregular";
    text-transform: capitalize;
}

.header_detail1 h5 {
    float: left;
    margin-top: 4px;
    width: 100%;
}

.bob_clsses {
    float: left;
    margin: 0 4px 0 7px;
    width: 170px;
    text-align: center;
}

.grdTestimonialstext {
    float: left;
    height: 200px;
    margin-top: 30px;
    padding: 14px;
    text-align: center;
    width: 100%;
}

.bx-viewport {
    border: 1px solid #e0e0e0 !important;
}

.grdTestimonialstext > span {
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #6e6e6e;
}

.fuuter_name > h5 {
    border-bottom: 1px solid;
    color: white;
    font-family: "CenturyGothic-Regular";
    font-size: 21px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    width: 58%;
}

.fuuter_map > h5 {
    color: white;
    float: left;
    font-family: "CenturyGothic-Regular";
    margin: 2px 5px 0 0;
}

.fuuter_map > span {
    color: white;
    float: left;
    font-family: "CenturyGothic-Regular";
    margin: 0 0 0 10px;
}




/*///property detail new///*/


.property_top_inner_bg {
    border-bottom: 1px solid #b7b7b7;
    float: left;
    width: 100%;
    background: #f5f5f5;
}

.propert_header_img {
    float: left;
    margin: 7px 0;
    width: 100%;
}

.propert_header_cntntt {
    float: left;
    margin: 35px 0 0;
    width: 100%;
}

    .propert_header_cntntt h2 {
        color: #2b2b2b;
        float: left;
        font-family: "open_sansbold";
        font-size: 16px;
        margin-bottom: 12px;
        width: 100%;
    }

.propert_header_cntntt_box {
    float: left;
    margin: 0 13px 0 0;
}

    .propert_header_cntntt_box h3 {
        float: left;
        font-size: 14px;
        margin: 0 9px 0 0;
        font-family: 'MyriadProRegular';
        color: #dc1f16;
    }

    .propert_header_cntntt_box span {
        float: left;
        font-family: "MyriadProRegular";
        font-size: 13px;
        font-weight: 500;
        margin-top: 0px;
    }

.propert_top_details {
    float: right;
    margin: 36px 0 0;
}

.property_top_box_sctn {
    float: left;
    margin: 0 10px;
    text-align: center;
}

    .property_top_box_sctn h3 {
        font-size: 12px;
        font-family: "MyriadProRegular";
        margin: 15px 0;
    }

    .property_top_box_sctn a {
        color: #dc1f16 ;
    }

.property_inner_midle_sctn {
    float: left;
    width: 100%;
}

.property_inner_slider {
    float: left;
    width: 100%;
    margin-top: 12px;
}

.property_inner_cntnt {
    float: left;
    margin-top: 12px;
    width: 100%;
}

.property_price_box {
    border: 1px solid #b7b7b7;
    border-radius: 6px;
    float: left;
    padding: 6px 0 0 0;
    width: 100%;
}

.prprty_inner_box_row {
    border-bottom: 1px solid #b7b7b7;
    float: left;
    margin: 4px 0;
    padding-bottom: 7px;
    width: 100%;
}

.proprty_price {
    float: left;
    width: 100%;
    border-right: 1px solid #b7b7b7;
}

    .proprty_price h2 {
        float: left;
        font-family: "open_sansbold";
        font-size: 26px;
        text-align: center;
        width: 100%;
        margin: 0px;
    }

.proprty_clculatr {
    float: left;
    width: 100%;
    text-align: center;
}

.clculatr_prprty {
    background: #3f8d35 none repeat scroll 0 0;
    border: 0 none;
    font-family: "open_sansregular";
    font-size: 11px;
    padding: 5px 20px;
    text-transform: uppercase;
}

.property_tax_new {
    float: left;
    width: 100%;
}

    .property_tax_new h3 {
        float: left;
        font-family: "open_sansregular";
        font-size: 13px;
        margin: 0 7px 0 0;
        text-transform: uppercase;
    }

    .property_tax_new span {
        float: left;
        font-family: "open_sansbold";
        font-size: 13px;
        margin: 0;
        text-transform: uppercase;
    }

.property_community_new {
    float: left;
    margin: 3px 0;
    width: 100%;
}

    .property_community_new h3 {
        float: left;
        font-family: "open_sansregular";
        font-size: 12px;
        margin: 0 7px 0 0;
        text-transform: uppercase;
    }

    .property_community_new span {
        float: right;
        font-family: "open_sansbold";
        font-size: 11px;
        margin: -1px 0 0;
        text-align: right;
        text-transform: uppercase;
        width: 60%;
    }

.proprty_details_boxx {
    border-right: 1px solid grey;
    float: left;
    text-align: center;
    width: 100%;
}

    .proprty_details_boxx > h2 {
        float: left;
        font-family: open_sansbold;
        font-size: 12px;
        margin-top: 6px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        color: #7e7e7e;
    }

    .proprty_details_boxx > span {
        float: left;
        font-family: open_sansbold;
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

.proprty_viewmore_boxx {
    float: left;
    margin-top: -4px;
    text-align: center;
    width: 100%;
}

.prprty_inner_box_row_new {
    float: left;
    width: 100%;
}

.proprty_viewmore_boxx > a {
    background: #3f8d35 none repeat scroll 0 0;
    border-radius: 0 0 5px 5px;
    color: white;
    float: left;
    font-family: "open_sansregular";
    font-size: 14px;
    padding: 6px 0;
    text-transform: uppercase;
    width: 100%;
}

    .proprty_viewmore_boxx > a:hover {
        text-decoration: none;
    }

.proprty_viewmore_boxx > button {
    background: #5a1501 none repeat scroll 0 0;
    border-radius: 0 0 5px 5px;
    color: white;
    float: left;
    font-family: "open_sansregular";
    font-size: 14px;
    padding: 6px 0;
    text-transform: uppercase;
    width: 100% !important;
}

.left_section_slider_new_demo {
    float: left;
    width: 100%;
    background: #f5f5f5;
}

.rocco_cntct_info_profile {
    background: #4d4c4c none repeat scroll 0 0;
    float: left;
    margin: 12px 0;
    padding: 8px;
    width: 100%;
}

.seaarch_Property_slider_new_demo {
    float: left;
    margin-top: 3px;
    width: 100%;
}

.proprty_clculatr > button {
    color: white;
}

.lstbrokerage_rocco {
    float: right;
}

.roco_pro_img {
    float: left;
    width: 100%;
}

.roco_pro_info {
    float: left;
    text-align: center;
    width: 100%;
}

.agent_input_prprty_dtl {
    float: left;
    width: 100%;
}

    .agent_input_prprty_dtl p {
        float: left;
        width: 100%;
        font-family: "open_sansregular";
        color: white;
        font-size: 12px;
        text-transform: uppercase;
    }

.agent_input_prprty_dtl_3 {
    float: left;
    text-align: center;
    width: 100%;
}

    .agent_input_prprty_dtl_3 input {
        background: black none repeat scroll 0 0 !important;
        float: left;
        width: 100%;
    }

.roco_pro_info > h2 {
    color: white;
    float: left;
    margin: 0;
    text-align: left;
    width: 100%;
    font-family: "CenturyGothic-Regular";
    font-size: 24px;
}

.roco_pro_info > p {
    color: white;
    float: left;
    font-family: "open_sansregular";
    font-size: 12px;
    margin-bottom: 9px;
    text-align: left;
    width: 100%;
}

.email_profile_r {
    color: white;
    float: left;
    font-size: 12px;
    text-align: left;
    width: 100%;
    font-family: "open_sansregular";
}

.detail_left_section_new {
    border-top: 1px solid #aeaeae;
    color: #151515;
    float: left;
    font-family: "open_sansregular";
    font-size: 13px;
    line-height: 28px;
    margin: 13px 0 0;
    padding: 8px;
    width: 100%;
}

    .detail_left_section_new h2 {
        float: left;
        width: 100%;
        font-size: 18px;
        font-family: "open_sansbold";
        color: #565656;
    }

    .detail_left_section_new span {
        float: left;
        font-size: 13px;
        line-height: 26px;
        font-family: "open_sansregular";
        color: #7f7f7f;
    }

.lstbrokerage_rocco span {
    font-size: 11px;
    font-family: "open_sansregular";
    color: #3b3b3b;
}

.roco_cnts_us {
    float: left;
    width: 100%;
}

grdslider_PImage {
    width: 100%;
}

.fuuter_map > a {
    color: white;
}

.modal-open {
    overflow-y: auto !important;
}


/*property deatil ltst*/


.w4rlisting .w4rlisting-list-b, .w4rlisting-list-b {
    border: 1px solid #b7b7b7;
    border-radius: 6px;
    color: #676767;
    list-style: outside none none;
    margin: 0 0 12px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

    .w4rlisting-list-b li::before {
        background: #d4d4d4 none repeat scroll 0 0;
        bottom: -1px;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    .w4rlisting-list-b li::after {
        background: #d4d4d4 none repeat scroll 0 0;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        right: -1px;
        top: 0;
        width: 1px;
    }

.w4rlisting-list-a > li.a a, .w4rlisting-list-b, .w4rlisting .w4rlisting-list-b {
    color: #616161;
}

.w4rlisting *::-moz-selection, .w4rlisting-reveal *::-moz-selection {
    background: #5f4e16 none repeat scroll 0 0;
    color: #fff;
    text-shadow: none;
}

.w4rlisting-list-b li.a {
    height: 60px;
    padding-top: 6px;
}

.w4rlisting-list-b li {
    float: left;
    font-size: 10px;
    height: 52px;
    padding: 14px 0 0;
    position: relative;
    width: 33.3333%;
}

    .w4rlisting-list-b li.a span {
        font-family: "open_sansbold";
        font-size: 12px;
        font-weight: 400;
        margin: 0 0 7px;
    }

    .w4rlisting > header, .w4rlisting > header h1, .w4rlisting > header h2, .w4rlisting > header > ul li span, .w4rlisting-list-b li span {
        color: #727272;
    }

    .w4rlisting-list-b li span {
        color: #727272;
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin: 0 0 4px;
    }

    .w4rlisting-list-b li.link {
        clear: both;
        float: none;
        font-size: 14px;
        font-weight: 700;
        height: auto;
        padding: 0;
        width: auto;
    }

.nav > li > a:focus, .nav > li > a:hover {
    background: none !important;
}

.read_more_btn3 {
    background: #116ab2  none repeat scroll 0 0;
    color: white;
    float: left;
    font-size: 12px;
    margin: 8px 0 0;
    padding: 2px 7px;
}

    .read_more_btn3:hover {
        text-decoration: none;
        background: #333;
        color: white;
    }

.seaarch_Property_slider_new_demo > img {
    margin: 12px 0 0;
    width: 100%;
}

.propert_top_details_scnd {
    display: none;
}

.menu_section ul li a:hover {
    color: #ee466e;
}

.Free-Home_calculator {
    background: #ebe9e9 none repeat scroll 0 0;
    border: 1px solid #818181;
    border-radius: 8px;
    float: left;
    margin-bottom: 10px;
    padding: 12px;
    width: 100%;
}

.cal_new_cls {
    float: left;
    margin: 12px 0;
    width: 100%;
}

    .cal_new_cls > h2 {
        color: white;
        float: left;
        width: 100%;
    }

        .cal_new_cls > h2 a {
            color: #116ab2 ;
            float: left;
                 font-family: "CenturyGothic-Regular";
            font-size: 16px;
            margin: 4px 0;
            width: 100%;
        }

    .cal_new_cls > p {
        color: #353535;
        float: left;
        font-family: "CenturyGothic-Regular";
        font-size: 14px;
        margin: 9px 0;
        text-align: justify;
        width: 100%;
    }

.virtual_cmng_soon {
    float: left;
    margin: 12px 0;
    min-height: 204px;
    text-align: center;
    width: 100%;
}

.news_hding {
    float: left;
    margin: 8px 0;
    text-align: center;
    width: 100%;
}

    .news_hding h2 {
        color: #1a1a1a;
        float: left;
        font-family: "open_sansbold";
        font-size: 28px;
        text-align: center;
        width: 100%;
    }

.news_date {
    float: left;
    margin: 3px 0;
    width: 100%;
}

.table-responsive {
    float: left;
    width: 100%;
}

.spcl_cndo_new {
    float: left;
    width: 100%;
}

.spcl_cndo_hdng > h2 {
    color: white;
    font-size: 22px;
    margin: 12px 0;
    font-family: "CenturyGothic-Regular";
}


/*view map css*/

.width-100 {
    width: 100%;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none !important;
}

.red {
    background-color: #116ab2 ;
    font-family: "CenturyGothic-Regular";
}

.white {
    color: white;
}

.font-normal {
    font-family: inherit !important;
    font-size: 10px !important;
}

.width-48 {
    width: 48% !important;
}

.width-100 {
    width: 100% !important;
}

.margin-top-15 {
    margin-top: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.height-40 {
    height: 40px;
}

.margin-left-10 {
    margin-left: 10px;
}

.seaarch_Property_slider_new_demo_12 {
    float: left;
    width: 100%;
    margin-top: 12px;
}

.Designed_and_Developed {
    float: left;
    /*margin: 15px 0 8px;*/
    text-align: center;
    width: 100%;
}

    .Designed_and_Developed b {
        float: left;
        width: 100%;
        /*font-family: "CenturyGothic-Regular";*/
        font-size: 12px;
        font-weight: normal;
        color: white;
    }

    .Designed_and_Developed a {
        color: white;
    }










.free_nw_cls_bg_new {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #c8c6c6;
    border-radius: 5px;
    float: left;
    margin: 15px 0;
    padding: 16px;
    width: 100%;
}

.lndng_page_map_1 {
    float: left;
    width: 100%;
}

.landing_page_p p {
    color: #303030;
    float: left;
    font-family: "open_sansregular";
    margin: 0 0 8px;
    text-align: center;
    width: 100%;
}

.home_map {
    border: 1px solid;
    float: left;
    width: 100%;
}

.review_home_worth_di {
    float: left;
    margin: 20px 0 0;
    width: 100%;
}

.login_input_new_1 {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

    .login_input_new_1 > label {
        color: #231f20;
        font-family: arial;
        margin-bottom: 0;
    }

    .login_input_new_1 input {
        border: 1px solid #c5c5c5;
        border-radius: 50px;
        color: #666 !important;
        font-family: arial;
        font-size: 13px;
        font-weight: normal !important;
        margin: 0;
        min-height: 40px;
        padding: 0 0 0 15px;
    }

    .login_input_new_1 select {
        border: 1px solid #c5c5c5;
        border-radius: 50px;
        color: #666 !important;
        font-family: arial;
        font-size: 13px;
        font-weight: normal !important;
        min-height: 40px;
        padding: 10px 10px 7px 15px !important;
    }

#MainContent_btnSearch {
    border-radius: 50px;
    color: white !important;
    height: 42px;
    margin: 10px 0 0;
    width: 100% !important;
}

.free_nw_cls_bg {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #c8c6c6;
    border-radius: 5px;
    float: left;
    margin: 15px 0;
    padding: 8px;
    width: 100%;
}

.schedule_appointment_bg {
    background: #ebe9e9 none repeat scroll 0 0;
    border: 1px solid #b8b8b8;
    border-radius: 8px;
    float: left;
    padding: 12px;
    width: 100%;
}

.schedule_appointment {
    float: left;
    width: 100%;
}

    .schedule_appointment h2 {
        color: black;
        float: left;
        font-family: "CenturyGothic-Regular";
        font-size: 22px;
        margin: 0 0 10px;
        text-align: center;
        width: 100%;
    }

.login_input textarea {
    color: grey;
    font-size: 13px;
    padding: 6px;
}

.login_input_regstrtn {
    float: left;
    width: 100%;
}

    .login_input_regstrtn > input {
        float: left !important;
    }

.Free_email_listing {
    background: #ebe9e9 none repeat scroll 0 0;
    border: 1px solid #b8b8b8;
    border-radius: 8px;
    float: left;
    margin: 12px 0;
    padding: 12px;
    width: 100%;
}

.Infomation_new_frm {
    float: left;
    margin: 4px 0;
    width: 100%;
}

    .Infomation_new_frm span {
        color: #151515;
        float: left;
        font-family: "open_sansregular";
        font-size: 13px;
        margin-top: 18px;
        width: 100%;
    }

    .Infomation_new_frm > input {
        color: grey;
        float: left;
        font-size: 12px;
        padding: 9px;
        width: 100%;
    }

    .Infomation_new_frm > p {
        float: left;
        font-size: 12px;
        padding: 12px 0;
        width: 100%;
    }

    .Infomation_new_frm textarea {
        color: grey;
        font-size: 12px;
        padding: 9px;
    }

.calc_inner_cls {
    background: #ebe9e9 none repeat scroll 0 0;
    border: 1px solid #b8b8b8;
    border-radius: 8px;
    float: left;
    margin: 12px 0;
    padding: 10px;
    width: 100%;
}

.mortgge_clc h4 {
    color: #116ab2 ;
    float: left;
         font-family: "CenturyGothic-Regular";
    font-size: 26px;
    margin: 12px 0 0;
    text-align: center;
    width: 100%;
}

.mortgge_clc {
    float: left;
    width: 100%;
}

    .mortgge_clc p {
        color: #404040;
        float: left;
        font-family: "open_sansregular";
        font-size: 13px;
        margin: 0;
        padding: 12px;
        width: 100%;
    }

.header_detail1 > ul {
    float: right;
    width: 58%;
    margin: 10px 0 0;
}

    .header_detail1 > ul li {
        display: inline;
        list-style-type: none;
        margin:0 0 0 15px;
        float: left;
    }

.middle_logo {
    float: left;
    width: 100%;
    margin: 5px 0;
	text-align:center;
}

.main_sct_bg_new {
    float: left;
    width: 100%;
    padding: 26px 0;
}

.left_services_bg {
    float: left;
    width: 100%;
}

.services_box {
    float: left;
    width: 100%;
    margin: 20px 0;
}

.srvce_box_cntent {
    float: left;
    width: 100%;
    margin-top: 31px;
}

    .srvce_box_cntent h2 {
        float: left;
        width: 100%;
        text-align: right;
        color: #6f1b19;
        font-family: 'latobold';
        font-size: 17px;
        text-transform: uppercase;
    }

        .srvce_box_cntent h2 a {
            float: left;
            width: 100%;
            color: #6f1b19;
        }

    .srvce_box_cntent p {
        float: left;
        width: 100%;
        text-align: right;
        color: #757678;
        font-family: 'latoregular';
        line-height: 24px;
        font-size: 14px;
        margin: 6px 0;
    }

.srvce_box_imgg {
    float: left;
    width: 100%;
}

.right_services_bg {
    float: left;
    width: 100%;
}

.services_box_right {
    float: left;
    width: 100%;
    margin: 20px 0;
}

.srvce_box_imgg_r {
    float: left;
    width: 100%;
}

.srvce_box_cntent_r {
    float: left;
    width: 100%;
    margin-top: 30px;
}

    .srvce_box_cntent_r h2 {
        float: left;
        width: 100%;
        color: #6f1b19;
        font-family: 'latobold';
        font-size: 17px;
        text-transform: uppercase;
    }

        .srvce_box_cntent_r h2 a {
            float: left;
            width: 100%;
            color: #6f1b19;
        }

    .srvce_box_cntent_r p {
        float: left;
        width: 100%;
        color: #757678;
        font-family: 'latoregular';
        line-height: 24px;
        margin: 6px 0;
        font-size: 14px;
    }

.below_projct_bg {
    float: left;
    width: 100%;
}

.upcmng_p {
    float: left;
    width: 100%;
	background:white;
	padding:4px;
	border: 1px solid #a7a7a7;
}

    .upcmng_p h2 {
        float: left;
        width: 100%;
		color:#2c2c2c;
        font-family: 'open_sansbold';
        font-size: 18px;
        text-align: center;
        padding: 8px 0;
    }

        .upcmng_p h2 a {
            color: white;
        }

            .upcmng_p h2 a:hover {
                color: white;
                text-decoration: none;
            }

.currnt_p {
    float: left;
    width: 100%;
}

.test_bg {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.comin_soon_new {
    float: left;
    width: 100%;
}

.video_section_box {
    float: left;
    width: 100%;
}

.futer_sctnn {
    float: left;
    width: 100%;
}

.futer_mennu {
    float: left;
    width: 100%;
    margin: 20px 0;
	text-align:center;
}

    .futer_mennu ul {
        float: left;
        width: 100%;
    }

        .futer_mennu ul li {
            display: inline;
            list-style-type: none;
            margin: 0 24px 0 0px;
        }

            .futer_mennu ul li a {
                color: white;
                font-family: "CenturyGothic-Regular";
                font-size: 15px;
            }

                .futer_mennu ul li a:hover {
                    text-decoration: none;
                    color: white;
                }

.futer_loggo {
    float: left;
    width: 100%;
    text-align: center;
}

.agent_input textarea {
    font-size: 13px;
    color: grey !important;
    padding: 6px;
}

.read_more_test {
    float: left;
    margin: 12px 0 0;
    width: 100%;
    color: #791311;
    font-family: 'latobold';
    font-style: italic;
}

.grdTestimonialstext > h2 {
    border-bottom: 1px solid #791311;
    color: #791311;
    float: left;
    width: 100%;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
}

.Free-Home_new_testmonail {
    float: left;
    width: 100%;
}

.test_bg_testimonil {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #e1e0e0;
    border-radius: 3px;
    float: left;
    margin: 4px 0;
    padding: 6px;
    width: 100%;
}

.comments {
    color: #6a6b6c;
    float: left;
    font-family: "MyriadProRegular";
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    width: 100%;
}

.name {
    color: red;
    float: left;
    font-family: "open_sansbold";
    font-size: 13px;
    text-transform: uppercase;
    width: 100%;
    margin-top: 6px;
}

.lblcomment {
    float: left;
    font-size: 15px;
    font-weight: normal;
    text-align: justify;
    width: 100%;
}

.projectsbg {
    float: left;
    margin: 12px 0;
    width: 100%;
}

.projects {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 2px solid #c8c6c6;
    float: left;
    padding: 10px;
    width: 100%;
}


.aboutMe_bg {
    background: white none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 260px;
    float: left;
    height: 351px;
    width: 100%;
	margin:12px 0 0;
}
.aboutMe {
    float: left;
    text-align:center;
	width:100%;
	margin-top:34px;
}
.aboutMe h1 {
    float: left;
    text-align:center;
	width:100%;
	color:#791311;
	font-size:20px;
	 font-family: "open_sansbold";
	 text-transform: uppercase;
	 margin:0 0 15px 0;
}
.aboutMe p {
    float: left;
    text-align:center;
	width:100%;
	color:#6e6e6e;
	font-size:14px;
	font-family: 'latoregular';
	line-height:26px;
	padding:12px;
}
.aboutMe_butn
{
	float:left;
	width:100%;
	margin:16px 0 0;
}
.aboutMe_butn a {
    background: #c9700a none repeat scroll 0 0;
    border-radius: 6px;
    color: white;
    font-family: "latoregular";
    font-size: 13px;
    padding: 6px 12px;
}
.aboutMe_butn a:hover
{
	text-decoration:none;
}
.Blog_bg {
    float: left;
    width: 100%;
}

.Blog_section {
    border-bottom: 1px solid #b7b7b7;
    float: left;
    margin: 12px 0;
    padding: 14px;
    width: 100%;
}
.Blog_section h1 {
    color: #1a1a1a;
    float: left;
    font-family: "open_sansbold";
    font-size: 22px;
    width: 100%;
	    color: #a82c2a;
	margin-bottom:6px;
}
.Blog_section > h2 {

    float: left;
    font-family: "open_sansbold";
    font-size: 16px;
    width: 100%;
	margin:6px 0;
	    color: #606060;
}
.Blog_section > p {
    float: left;
    font-family: "open_sansregular";
    font-size: 14px;
    margin: 6px 0;
    width: 100%;
	color: #151515;
}
.Blog_section > ul{
    float: left;
    width: 100%;
}

.Blog_section > ul li{
     background: rgba(0, 0, 0, 0) url("../images/arrow-1.png") no-repeat scroll 3px 6px;
    color: #151515;
    float: left;
    line-height: 27px;
    list-style: outside none none;
    padding: 2px 0 0 29px;
    text-align: justify;
    width: 98%;
}
.current > label {
    font-weight: bold !important;
    padding: 0 !important;
}
.header_detail1_lang {
    float: left;
    margin: 10px 0 0;
    width: 100%;
}
.skiptranslate iframe {
    display: none;
}
.services_sect_lne {
    float: left;
    margin: 12px 0;
    width: 100%;
}
.services_sct_bg
{
	float:left;
	width:100%;
	background: #f5fbff;
	border-top: 5px solid #2983cc;
	text-align:center;
	padding:24px;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.services_sct_bg h2
{
	float:left;
	width:100%;
	color:#2983cc;
	font-size:18px;
	text-align:center;
	font-family: 'latobold';
	text-transform:uppercase;
	margin:38px 0 10px;
}
.services_sct_bg p
{
	float:left;
	width:100%;
	color:#424040;
	font-size:13px;
	text-align:center;
	 font-family: 'latoregular';
	margin:12px 0;
	line-height:22px;
	display:none;
}
.about_section
{
	float:left;
	width:100%;
	background:white;;
	border:1px solid #a7a7a7;
	padding:6px;
	text-align:center;
}
.about_section h2 {
    border-bottom: 1px solid grey;
    color: #2c2c2c;
    float: left;
    font-family: "montserratregular";
    font-size: 18px;
    margin: 6px 0 15px;
    padding-bottom: 4px;
    text-align: center;
    width: 100%;
}
.about_section > span {
    color: black;
    float: left;
    font-style: italic;
    font-weight: bold;
    margin: 12px 0 4px;
    text-align: right;
    width: 100%;
	font-family: 'latoregular';
	font-size:16px;
}
.about_section > h3 {
    color: red;
    float: left;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 3px 0;
    text-align: right;
    width: 100%;
	font-family: 'latoregular';
	font-size:16px;
}
.about_section p
{
	float:left;
	width:100%;
	font-size:14px;
	color: #555454;
	line-height:24px;
	 font-family: 'latoregular';
}
.abt_btn_red {
    background: #2983cc none repeat scroll 0 0 !important;
    border: medium none;
    border-radius: 0 !important;
    color: white;
    font-size: 12px !important;
    margin-top: 10px;
    padding: 5px 13px !important;
}
.bottom_futer_sect_bg
{
	float:left;
	width:100%;
	padding:12px;
	background:#116ab2;
}
.bottom_futer_sect
{
	float:left;
	width:100%;
	margin:12px 0;
}
.futer_sect
{
	float:left;
	width:100%;
}

.futer_sect h2
{
	float:left;
	width:100%;
	font-size:18px;
	font-family: 'open_sanssemibold';
	text-transform:uppercase;
	color:white;
}
.futer_box_sect
{
	float:left;
	width:100%;
	margin:12px 0 0;
}
.futer_box_sect2
{
	float:left;
	width:100%;
	margin:12px 0 0;
}
.futer_box_sect ul
{
	float:left;
	width:100%;
}
.futer_box_sect ul li
{
	list-style-type:none;
	display:inline;
}
.futer_box_sect img
{
	float:left;
	margin: 0 10px 0 0;
}
.futer_box_sect p
{
	float:left;
	color:white;
	font-family: 'open_sanssemibold';
	font-size:14px;
	text-transform:uppercase;
}
.futer_box_sect2 img
{
	float:left;
	margin: 0 8px 0 0;
}
.futer_box_sect2 p
{
	float:left;
	color:white;
	font-family: 'open_sanssemibold';
	font-size:14px;
	margin:8px 0 0;
}
.nopdng
{
	padding:0px;
}
.futer_box_sect2 span {
    color: white;
}
.mortgage_calculator {
    float: left;
    width: 100%;
}
.mortgage_calculator iframe {
    float: left;
    height: 620px;
    width: 100%;
}
.mortgage_calculator h2 {
    float: left;
    width: 100%;
    color: #116ab2 ;
     font-family: "CenturyGothic-Regular";
    font-size: 22px;
    text-align: center;
	margin:8px 0;
}
.chmc_calculator
{
    float: left;
    width: 100%;
}
.chmc_calculator iframe {
    float: left;
    height: 330px;
    width: 100%;
}
.chmc_calculator h2 {
    float: left;
    width: 100%;
    color: #116ab2 ;
      font-family: "CenturyGothic-Regular";
    font-size: 22px;
    text-align: center;
	margin:8px 0;
}
.calculater_developer
{
	float:left;
	width:100%;
}
.calculater_developer h2 {
    float: left;
    width: 100%;
    color: grey ;
    font-family: 'latoregular';
    font-size: 14px;
    text-align: right;
	margin:8px 0;
}
.calculater_developer img {
    margin: -24px 0 0 5px;
}

.about_section > img {
    margin: 34px 0;
}
.dream_search_boxx {
    background-color: white;
    box-shadow: 0 3px 16px -11px black;
    float: left;
    margin: 12px 0 0;
    min-height: 315px;
    width: 100%;
}
.dream_text_bg {
    float: left;
    margin: 0;
    padding: 5px;
    width: 100%;
}
.dream_text_bg > span {
    float: left;
    font-size: 16px;
    font-style: normal;
    margin: 2px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
	font-family: 'latobold';
}
.dream_text_bg b {
    font-weight: normal;
}
.dream_text_bg > p {
    color: #666666;
    float: left;
    font-family: "Arial";
    font-size: 13px;
    padding: 3px 0;
    text-align: center;
    width: 100%;
}

.dream_house_hdng {
    float: left;
    text-align: center;
    width: 100%;
	margin:6px 0;
}
.dream_house_hdng h2 {
    float: left;
	font-family: 'montserratregular';
    width: 100%;
	font-size:22px;
	color: #2983cc;
	text-transform:uppercase;
	font-weight:bold;
}

.lt_calculator {
    float: left;
    width: 100%;
}
.lt_calculator h2 {
     color: #116ab2;
    float: left;
      font-family: "CenturyGothic-Regular";
    font-size: 22px;
    margin: 8px 0;
    text-align: center; 
    width: 100%;
}
.lt_calculator iframe {
    border: medium none !important;
    float: left;
    height: 300px;
    width: 100%;
}